/*
Overrides some values given in CSS from frameworks and third party stuff.

Todo: there is a layer over the control box / time slider. (leaflet map pane).
Todo: make sure the control box is OVER the map, not under the map.
Todo: better separation of UI and data. The JS messes things up.
**/

/* Some leaflet user styling to make it more attractive */

#map {
    height: 900px;
}

.info {
    min-width: 280px;
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 1px;
}

.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.legend {
    text-align: left;
    line-height: 18px;
    color: #555;
}

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

.leaflet-interactive{
    stroke-dasharray: 0 !important; /* Away with the noise */
    stroke-width:1 !important; /* and a bit less obnoxious please*/
}

.green {
    text-decoration: none;
    color: #00ff00;
}

.orange {
       text-decoration: none;
    color: #FFA500;
}

.red {
    text-decoration: none;
    color: #ff0000;
}

#domainlist {
    position: relative;
    top: -810px;
    left: 850px;
    z-index: 400;
    width: 280px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

#domainlist h4 {
    color: #777;
    margin: 0 0 5px;
}

#domainlistcontainer {
    height: 0;
}

/* bootstrap fixed menu terribleness... always overlaps content. */
body {
  padding-top: 70px;
}

@media screen and (max-width: 768px) {
    body { padding-top: 0px; }
}

/* https://github.com/twbs/bootstrap/issues/1768 */
.jumptonav {
    display: block;
    content: " ";
    margin-top: -75px;
    height: 75px;
    visibility: hidden;
}