{% load static %} {% load i18n %}

<!-- dynamic translates for the rss feed. See script.js for more examples for the javascript side of this. -->
{% trans "tls_qualys" %}
{% trans "plain_https" %}
{% trans "X-XSS-Protection" %}
{% trans "X-Frame-Options" %}
{% trans "X-Content-Type-Options" %}
{% trans "Strict-Transport-Security" %}

<!-- Sigh, the same translations as on the javascript side. That's what you get keeping the js translations short(er).
It doesn't do cross-file fuzzy, so you need to copy paste this and maintain these messages on multiple places.
Could we call the javascript library from somewhere if we want? Should we? -->
{% trans "Has a secure equivalent, which wasn't so in the past." %}
{% trans "Site does not redirect to secure url, and has no secure alternative on a standard port." %}
{% trans "Redirects to a secure site, while a secure counterpart on the standard port is missing." %}
{% trans "Broken Transport Security, rated F" %}
{% trans "Certificate not valid for domain name." %}
{% trans "Could not establish trust.  For the certificate installation: Less than optimal Transport Security, rated C." %}
{% trans "Could not establish trust.  For the certificate installation: Less than optimal Transport Security, rated B." %}
{% trans "Could not establish trust.  For the certificate installation: Good Transport Security, rated A-." %}
{% trans "Could not establish trust.  For the certificate installation: Good Transport Security, rated A." %}
{% trans "Less than optimal Transport Security, rated C." %}
{% trans "Less than optimal Transport Security, rated B." %}
{% trans "Good Transport Security, rated A-." %}
{% trans "Good Transport Security, rated A." %}
{% trans "Perfect Transport Security, rated A+." %}
{% trans "X-Content-Type-Options header present." %}
{% trans "Missing X-Content-Type-Options header." %}
{% trans "X-XSS-Protection header present." %}
{% trans "Missing X-XSS-Protection header." %}
{% trans "X-Frame-Options header present." %}
{% trans "Missing X-Frame-Options header." %}
{% trans "Strict-Transport-Security header present." %}
{% trans "Missing Strict-Transport-Security header." %}