{% extends 'game/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

    <h1>Contests</h1>
    <p>During a contest, participants find new domains and subdomains for targeted countries and organizations.</p>

    {% if success %}
        <div class="alert alert-success" role="alert">
            <strong>Contest selected!</strong>
         </div>
    {% endif %}

    {% if error %}
        <div class="alert alert-danger" role="alert">
            <strong>Error!</strong> {{ error }}
         </div>
    {% endif %}

    <h2>Currently open</h2>
    {% include "game/contest_list.html" with contests=active_contests %}


    <h2>Upcoming</h2>
    {% include "game/contest_list.html" with contests=future_contests %}


    <h2>Expired</h2>
    {% include "game/contest_list.html" with contests=expired_contests %}

{% endblock %}
