{% extends 'game/base.html' %}
{% load crispy_forms_tags %}
{% load humanize %}

{% block content %}

    <h1>Contests</h1>
    <p>During a contest, participants find new domains and subdomains for targeted countries and organizations.</p>

    {% if success %}
        <div class="alert alert-success" role="alert">
            <strong>Contest selected!</strong>
         </div>
    {% endif %}

    {% if error %}
        <div class="alert alert-danger" role="alert">
            <strong>Error!</strong> {{ error }}
         </div>
    {% endif %}

    <h2>Currently open</h2>
    <table class="table table-sm table-striped table-bordered table-hover">
    <thead>
    <tr>
        <th width="10%"></th>
        <th width="30%">Name</th>
        <th width="5%">Teams</th>
        <th width="5%">Urls</th>
        <th width="10%">Info</th>
        <th width="20%">From</th>
        <th width="20%">Until</th>
    </tr>
    </thead>
    <tbody>
    {% for a_contest in active_contests %}
        <tr style="{% if a_contest.name == contest.name %} font-weight: bold; background-color: #ddffdd {% endif %}">
            <td style="text-align: center;"><form method="POST">{% csrf_token %}<input type="hidden" name="id" value="{{ a_contest.id }}">
                <input type="submit" value="join" class="btn btn-primary btn-lg"></form></td>
            <td><img class="country-select-flag" id="{{ a_contest.target_country }}" style="margin: 6px 4px 0" src="/static/flags/{{ a_contest.target_country }}.gif">
                {{ a_contest.name }}</td>
            <td>{{ a_contest.teams }}</td>
            <td>{{ a_contest.urls }}</td>
            <td><a href="/game/scores/?contest={{ a_contest.id }}">view scores</a></td>
            <td><span title="{{ a_contest.from_moment }}">{{ a_contest.from_moment|naturaltime }}</span></td>
            <td><span title="{{ a_contest.until_moment }}">{{ a_contest.until_moment|naturaltime }}</span></td>
        </tr>
        {% empty %}
        <tr><td colspan="7">No currently open contests.</td></tr>
    {% endfor %}
    </tbody>
    </table>

    <h2>Upcoming</h2>
    <table class="table table-sm table-striped table-bordered table-hover">
    <thead>
    <tr>
        <th width="10%"></th>
        <th width="30%">Name</th>
        <th width="5%">Teams</th>
        <th width="5%">Urls</th>
        <th width="10%">Info</th>
        <th width="20%">From</th>
        <th width="20%">Until</th>
    </tr>
    </thead>
    <tbody>
    {% for a_contest in future_contests %}
        <tr style="{% if a_contest.name == contest.name %} font-weight: bold; background-color: #ddffdd {% endif %}">
            <td style="text-align: center;"><form method="POST">{% csrf_token %}<input type="hidden" name="id" value="{{ a_contest.id }}">
                <input type="submit" value="join" class="btn btn-primary btn-lg"></form></td>
            <td><img class="country-select-flag" id="{{ a_contest.target_country }}" style="margin: 6px 4px 0" src="/static/flags/{{ a_contest.target_country }}.gif">
                {{ a_contest.name }}</td>
            <td>{{ a_contest.teams }}</td>
            <td>{{ a_contest.urls }}</td>
            <td><a href="/game/scores/?contest={{ a_contest.id }}">view scores</a></td>
            <td><span title="{{ a_contest.from_moment }}">{{ a_contest.from_moment|naturaltime }}</span></td>
            <td><span title="{{ a_contest.until_moment }}">{{ a_contest.until_moment|naturaltime }}</span></td>
        </tr>
        {% empty %}
        <tr><td colspan="7">No upcoming contests.</td></tr>
    {% endfor %}
    </tbody>
    </table>

    <h2>Expired</h2>
    <table class="table table-sm table-striped table-bordered table-hover">
    <thead>
    <tr>
        <th width="10%"></th>
        <th width="30%">Name</th>
        <th width="5%">Teams</th>
        <th width="5%">Urls</th>
        <th width="10%">Info</th>
        <th width="20%">From</th>
        <th width="20%">Until</th>
    </tr>
    </thead>
    <tbody>
    {% for a_contest in expired_contests %}
        <tr style="{% if a_contest.name == contest.name %} font-weight: bold; background-color: #ddffdd {% endif %}">
            <td style="text-align: center;"><form method="POST">{% csrf_token %}<input type="hidden" name="id" value="{{ a_contest.id }}">
                <input type="submit" value="join" class="btn btn-primary btn-lg"></form></td>
            <td><img class="country-select-flag" id="{{ a_contest.target_country }}" style="margin: 6px 4px 0" src="/static/flags/{{ a_contest.target_country }}.gif">
                {{ a_contest.name }}</td>
            <td>{{ a_contest.teams }}</td>
            <td>{{ a_contest.urls }}</td>
            <td><a href="/game/scores/?contest={{ a_contest.id }}">view scores</a></td>
            <td>{{ a_contest.from_moment }}</td>
            <td>{{ a_contest.until_moment }}</td>
        </tr>
        {% empty %}
        <tr><td colspan="7">No expired contests.</td></tr>
    {% endfor %}
    </tbody>
    </table>

{% endblock %}
