{% extends 'game/base.html' %}
{% block content %}
    <h1>Scores</h1>

    <p>
        Your Team: {{ team.name }}
    </p>

    <table class="table">
    <thead>
    <tr>
        <th>Rank</th>
        <th>Team</th>
        <th>High</th>
        <th>Medium</th>
        <th>Low</th>
        <th>Rejected</th>
        <th>Total</th>
    </tr>
    </thead>
    <tbody>
    {% for score in scores %}
        <tr style="{% if team.name == score.team %} font-weight: bold; background-color: #ddffdd {% endif %}">
            <td>{{ forloop.counter }}</td>
            <td>{{ score.team }}</td>
            <td>{{ score.high }} * {{ score.high_multiplier }} = {{ score.high_score }}</td>
            <td>{{ score.medium }} * {{ score.medium_multiplier }} = {{ score.medium_score }}</td>
            <td>{{ score.low }} * {{ score.low_multiplier }} = {{ score.low_score }}</td>
            <td>{{ score.rejected }} * {{ score.rejected_multiplier }} = {{ score.rejected_score }}</td>
            <td>{{ score.total_score }}</td>
        </tr>
        {% empty %}
        <tr><td colspan="5">-</td></tr>
    {% endfor %}
    </tbody>
    </table>

{% endblock %}
