{% extends 'game/base.html' %}
{% block content %}
    <h1>Scores</h1>

    <p>
        Jouw Team: {{ team.name }}
    </p>

    <table class="table">
    <thead>
    <tr>
        <th>Rank</th>
        <th>Team</th>
        <th>High</th>
        <th>Medium</th>
        <th>Low</th>
    </tr>
    </thead>
    <tbody>
    {% for score in scores %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ score.team }}</td>
            <td>{{ score.high }}</td>
            <td>{{ score.medium }}</td>
            <td>{{ score.low }}</td>
        </tr>
        {% empty %}
        <tr><td colspan="5">-</td></tr>
    {% endfor %}
    </tbody>
    </table>

{% endblock %}
