{% extends 'game/base.html' %}
{% load crispy_forms_tags %}


{% block content %}

    <script>
    // tabs are not supported: https://github.com/select2/select2/issues/3359
    $(".js-example-tokenizer").select2({
        tags: true,
        tokenSeparators: [',', ' ', ';']
    });

    </script>

    {% if success %}
        {% if url %}
        <div class="alert alert-success" role="alert">
            <strong>URL added!</strong> The url(s) {{ url }} have been added!
        </div>
        {% else %}
        <div class="alert alert-warning" role="alert">
            <strong>Nothing added!</strong> The submitted urls are already in the database.
        </div>
        {% endif %}
    {% endif %}

    <h1>Suggest a new url</h1>
    <p>
    It is possible to submit multiple urls to multiple organizations. Make sure that the added information is correct,
    so that you don't bulk-submit a lot of urls for the wrong organization and vice versa.
    </p>
    <form method="POST" class="uniForm">{% csrf_token %}
        {{ form | crispy }}
        <br />
        <button type="submit" class="save btn btn-lg btn-primary">Yes, the information above is correct.</button>
    </form>
{% endblock %}
