{% extends 'game/base.html' %}
{% load crispy_forms_tags %}
{% load humanize %}

{% block content %}
    <h1>Submitted urls</h1>
    <p>This is a list of submitted urls during this contest. Below it also shows the urls that already exist.
    This information can help you to quickly determine if an organization is already being investigated and if some
    information is still missing.</p>

    <p>
        Current Contest: {{ contest.name }}
    </p>

    <h2>Submitted urls</h2>
    {% for url in submitted_urls %}
        {% ifchanged url.for_organization %}
            </table><h3>{{ url.for_organization }}</h3><table class="table table-sm table-striped table-bordered table-hover">
            <tr>
                <th width="50%">Url</th>
                <th width="10%">Acceptation</th>
                <th width="30%">Added when</th>
                <th width="10%">Onboarding</th>
            </tr>
        {% endifchanged %}

        <tr style="background-color: {{ url.added_by_team.color }};" title="Added by {{ url.added_by_team.name }}">
            <td>{{ url.url }} (try: <a href="http://{{ url.url }}" target="_blank">http</a>,
                              <a href="https://{{ url.url }}" target="_blank">https</a>)</td>
            {% if url.has_been_accepted %}
            <td style="color: green;">accepted</td>
            {% elif url.has_been_rejected %}
            <td style="color: red;">rejected</td>
            {% else %}
            <td style="color: gray;">pending</td>
            {% endif %}
            <td>{{ url.added_on|naturaltime }}</td>
            <td>{{ url.onboarding_stage }}</td>
        </tr>
        {% empty %}
        <tr><td colspan="7">-</td></tr>
    {% endfor %}
    </tbody>
    </table>
    <br><br>

    <h2>Accepted and Existing addresses</h2>
    <table class="table table-sm table-striped table-bordered table-hover">
    <thead>
    <tr>
        <th>Url</th>
        <th>Organization</th>
        <th>Added</th>
        <th>Onboarding</th>
    </tr>
    </thead>
    <tbody>
    {% for url in already_known_urls %}
        <tr>
            <td>{{ url.url }} (try: <a href="http://{{ url.url }}" target="_blank">http</a>,
                              <a href="https://{{ url.url }}" target="_blank">https</a>)</td>
            <td>{{ url.organization__name }} </td>
            <td>{{ url.created_on|naturaltime }}</td>
            <td>{{ url.onboarding_stage }}</td>
        </tr>
        {% empty %}
        <tr><td colspan="7">-</td></tr>
    {% endfor %}
    </tbody>
    </table>

{% endblock %}
