{% extends 'game/base.html' %}
{% load crispy_forms_tags %}


{% block content %}

    <script>

    $(".js-example-tokenizer").select2({
        tags: true,
        tokenSeparators: [',', ' ']
    })

    </script>

    {% if success %}
        <div class="alert alert-success" role="alert">
            <strong>URL added!</strong> {{ url }} has been added!
         </div>
    {% endif %}

    {%  comment %}
    {% if error %}
        <div class="alert alert-danger" role="alert">
            <strong>Error!</strong> {{ error }}
         </div>
    {% endif %}
    {% endcomment %}

    <h1>Suggest a new url</h1>
    <p>
    It is possible to submit multiple urls to multiple organizations. Make sure that the added information is correct,
    so that you don't bulk-submit a lot of urls for the wrong organization and vice versa.
    </p>
    <form method="POST" class="uniForm">{% csrf_token %}
        {{ form | crispy }}
        <br />
        <button type="submit" class="save btn btn-lg btn-primary">Yes, the information above is correct.</button>
    </form>
{% endblock %}
