{% extends 'game/base.html' %}
{% load crispy_forms_tags %}
{% load humanize %}

{% block content %}
    <h1>Submitted organizations</h1>
    <p>
        Current Contest: {{ contest.name }}
    </p>

    {% include "game/submitted_organizations_list.html" %}

    <h2>Already known organizations</h2>
    <p>These organizations where already in the database before the contest started.</p>

    {% for organization in already_known_organizations %}
        {% ifchanged organization.type.name %}
            </tbody></table><h3>{{ organization.type.name }}</h3><table class="table table-sm table-striped table-bordered table-hover">
                <thead>
                <tr>
                    <th width="50%">Name</th>
                    <th width="15%">Twitter</th>
                    <th width="15%">Wikidata</th>
                    <th width="20%">Wikipedia</th>
                </tr>
                </thead><tbody>
        {% endifchanged %}
        <tr>
            <td>{{ organization.name }}</td>
            <td>{{ organization.twitter_handle }}</td>
            <td>{{ organization.wikidata }}</td>
            <td>{{ organization.wikipedia }}</td>
        </tr>
        {% empty %}
        <tr><td colspan="7">-</td></tr>
    {% endfor %}
    </tbody>
    </table>

{% endblock %}
