{% extends 'game/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <h1>Submitted organizations</h1>
    <p>
        Current Contest: {{ contest.name }}
    </p>

    <h2>Submitted organizations</h2>
    <p>This is a list of submitted organizations during this contest. Below it also shows the urls that already exist.
    This information can help you to quickly determine if an organization is already being investigated and if some
    information is still missing.</p>
    <table class="table">
    <thead>
    <tr>
        <th>Team</th>
        <th>Organization</th>
        <th>Country</th>
        <th>Type</th>
        <th>Address</th>
        <th>Accepted</th>
        <th>Rejected</th>
        <th>In system</th>
        <th>Added on</th>
    </tr>
    </thead>
    <tbody>
    {% for organization in submitted_organizations %}
        <tr style="background-color: {{ organization.added_by_team.color }};">
            <td>{{ organization.added_by_team.name }}</td>
            <td>{{ organization.organization_name }}</td>
            <td>{{ organization.organization_country }}</td>
            <td>{{ organization.organization_type_name }}</td>
            <td>{{ organization.organization_address }}</td>
            <td>{{ organization.has_been_accepted }}</td>
            <td>{{ organization.has_been_rejected }}</td>
            <td>{{ organization.organization_in_system }}</td>
            <td>{{ organization.added_on }}</td>
        </tr>
        {% empty %}
        <tr><td colspan="7">-</td></tr>
    {% endfor %}
    </tbody>
    </table>


    <h2>Already known organizations</h2>
    <p>These organizations where already in the database before the contest started.</p>
    <table class="table">
    <thead>
    <tr>
        <th>name</th>
        <th>type</th>
        <th>country</th>
    </tr>
    </thead>
    <tbody>
    {% for organization in already_known_urls %}
        <tr>
            <td>{{ organization.name }}</td>
            <td>{{ organization.type.name }} </td>
            <td>{{ organization.country }}</td>
        </tr>
        {% empty %}
        <tr><td colspan="7">-</td></tr>
    {% endfor %}
    </tbody>
    </table>

{% endblock %}
