{% extends 'game/base.html' %}
{% load crispy_forms_tags %}
{% load humanize %}

{% block content %}
    <h1>Submitted urls</h1>
    <p>This is a list of submitted urls during this contest. Below it also shows the urls that already exist.
    This information can help you to quickly determine if an organization is already being investigated and if some
    information is still missing.</p>

    <p>
        Current Contest: {{ contest.name }}
    </p>

    <h2>Submitted urls</h2>
    {% for url in submitted_urls %}
        {% ifchanged url.for_organization %}
            </table><h3>{{ url.for_organization }}</h3><table class="table">
            <tr>
                <th width="50%">Url</th>
                <th width="10%">Acceptation</th>
                <th width="30%">Added when</th>
                <th width="10%">Processed</th>
            </tr>
        {% endifchanged %}

        <tr style="background-color: {{ url.added_by_team.color }};" title="Added by {{ url.added_by_team.name }}">
            <td>{{ url.url }} (try: <a href="http://{{ url.url }}" target="_blank">http</a>,
                              <a href="https://{{ url.url }}" target="_blank">https</a>)</td>
            {% if url.has_been_accepted %}
            <td style="color: green;">accepted</td>
            {% elif url.has_been_rejected %}
            <td style="color: red;">rejected</td>
            {% else %}
            <td style="color: gray;">pending</td>
            {% endif %}
            <td>{{ url.added_on|naturaltime }}</td>
            <td>{{ url.onboarding_stage }}</td>
        </tr>
        {% empty %}
        <tr><td colspan="7">-</td></tr>
    {% endfor %}
    </tbody>
    </table>


    <h2>Already known urls</h2>
    <p>These urls where already in the database before the contest started.</p>
    <p>These can be used to get some inspiration for finding new urls. Be careful of adding wildcard urls: it will
    bite you if they don't exist (= all resolve to the same site / services).</p>
    <table class="table">
    <thead>
    <tr>
        <th>Url</th>
        <th>Dead (administrative)</th>
        <th>Resolvable</th>
        <th>Wildcard DNS (danger)</th>
        <th>Processed</th>
    </tr>
    </thead>
    <tbody>
    {% for url in already_known_urls %}
        <tr>
            <td>{{ url.url }}</td>
            <td>{{ url.not_resolvable }} </td>
            <td>{{ url.is_dead }}</td>
            <td>{{ url.uses_dns_wildcard }}</td>
            <td>{{ url.onboarding_stage }}</td>
        </tr>
        {% empty %}
        <tr><td colspan="7">-</td></tr>
    {% endfor %}
    </tbody>
    </table>

{% endblock %}
