# create/load python3 virtualenv when entering directory
layout python3
# enable DEBUG mode by default
export DEBUG=1
# during development, just have ipv6 on.
export NETWORK_SUPPORTS_IPV6=1

# record path of Python executable outside of Tox environment to prevent conflicts
export PYTHON_BIN=$(which python3.6)

# use virtualenv created by Tox for development
PATH_add $PWD/.tox/default/bin/

# add tools to path
PATH_add $PWD/tools/

export VIRTUAL_ENV=$PWD/.tox/default/
