/.idea/
.DS_Store
configuration.php
db.sqlite3
*.py[co]
.tox
.tox2
*.egg-info
.cache
.coverage
htmlcov
trash.txt
todo.txt
error.log
db_backup_*.sqlite3
failmap_admin/map/static/images/screenshots/*
failmap_admin/scanners/resources/output/dnsrecon/*
failmap_admin/scanners/resources/output/theHarvester/*
dist/
build/
.eslintignore
.eslintrc.yml
code.json
codeclimate.json
