include version
include requirements.txt
recursive-include failmap/*/templates *
recursive-include failmap/*/static *
recursive-include failmap/*/fixtures *.yaml *.json
recursive-include failmap/*/locale *.mo *.po
