# This file contains all requirements for a release build of failmap.
# Any testing/debug only requirements should to into requirements.dev.txt.
# Requirements only needed for release should go in requirements.deploy.txt.

# Django jet is blocking migration to 2.0
# error:     from django.views.i18n import javascript_catalog
# ImportError: cannot import name 'javascript_catalog'
django
django-jet
django-countries
django-leaflet  # geojson editor in admin
django-geojson [field]  # geojson editor in admin
jsonfield
# django-jsonfield
django-import-export
django-constance[database]

pyyaml
typing

# use mozzila certificate bundle by default
certifi
pytz

# task processing framework
celery[redis,eventlet]
django-celery-beat
flower  # used for queue statistics

# https://github.com/pi-bjl/celery-statsd/commit/5d61d7756f115dbf05a7eeb8314495b53ee1955e
django-statsd-mozilla
django_uwsgi

# scanner dependencies
requests
dnspython  # dnsrecon
netaddr  # dnsrecon
untangle  # dns scans https://github.com/stchris/untangle
python-resize-image  # screenshots
Pillow  # screenshots
tldextract

# logging
colorlog

# for proxying external requests (mapbox)
django-proxy

# sentry client
raven

# allow recursive comparison of dictionaries
deepdiff

influxdb
urllib3

# loading json is faster in simplejson
# https://stackoverflow.com/questions/712791/what-are-the-differences-between-json-and-simplejson-python-modules
# needed for mapping reasons.
simplejson


# Remote worker TLS
pyopenssl
certifi

# static file collection/generation
django_compressor  # bundle javascript and css
csscompressor  # css compression

retry
sphinx_rtd_theme  # readthedocs.io only looks at requirements.txt (default) and thus it's better to have it here.

# docs / readthedocs.io
recommonmark

# map, to reduce the number of points (Ramer-Douglas-Peucker algorithm)
rdp

clint  # downloading stuff from overpass
wikidata  # downloading data from wikidata

django-nested-admin  # going deeper underground
sphinx_rtd_theme

# https://github.com/tardyp/hyper_sh/pull/14/
git+https://github.com/berryp/hyper_sh.git@8a4c52ac88fdcc052f3c008377bdf77e70c30904#egg=hyper_sh

django-fsm
django-fsm-log

# game requirements
django-crispy-forms
django-autocomplete-light
geocoder
# django-map-widgets  # uses gdal, not in alpine, cannot be fixed quickly so not using this.
