# Dependencies for this project are manager using pip-tools (https://github.com/jazzband/pip-tools).
# This is a simple management tool to manage version pinnin build on top of Pip and requirements.txt.
# See upgrade commands here: https://github.com/jazzband/pip-tools/
# eg: pip-compile --upgrade-package django

# Please also refer to: https://gitlab.com/internet-cleanup-foundation/web-security-map/blob/master/docs/source/topics/development/development.md#python-dependencies-managment

# To keep this file clear and simple:
# - specify requirements that are needed for Websecmap runtime (no development requirements, they go into requirements-dev.in).
# - version pinning only if it is required and explained
# - only direct requirements, not recursive (requirements of requirements)

# When recompiling for mac: export LDFLAGS=-L/usr/local/opt/openssl/lib

# Get proxies
# sigh, attrs is bumped to a compatible version later than the latest stable release. Welcome to dephell.
attrs==19.3.0

# Do not use proxybroker anymore, it is unreliable and too bleeding edge. While it does what is advertises it's much
# easier to just buy some proxylist and run with that for years.
# git+https://github.com/stitch/ProxyBroker#egg=proxybroker
# end dephel for proxies

django
# special version of django jet that removes python2 support.
# see this issue: https://github.com/geex-arts/django-jet/issues/418
r-django-jet
django-countries
django-leaflet

# Django geojson was used for geojson fields in the "edit_area" of organizations. This was a GUI feature to
# edit coordinated visually. The geojsonfield has dependencies on gdal, and as such is impossible to work with
# as that requires the bleeding edge version of alpine linux (for over 2 years now). So we can't support this.
# Has been replaced with a normal jsonfield.
# django-geojson
jsonfield
django-import-export
# version 2.6.0+ breaks functionality, not yet investigated a mitigation:
# ImportError: cannot import name 'config' from 'constance' (/root/.cache/virtualenvs/web-security-map/lib/python3.7/site-packages/constance/__init__.py)
django-constance
django-picklefield

pyyaml
typing

# use mozzila certificate bundle by default
certifi
pytz

# task processing framework
django-celery-beat
# celery 4.3+: https://github.com/celery/celery/issues/4500#issuecomment-400350526
celery[redis,eventlet]>=4.3
# flower < 0.9.3 conflicts with tornado >6.0
flower>=0.9.3

# https://github.com/pi-bjl/celery-statsd/commit/5d61d7756f115dbf05a7eeb8314495b53ee1955e
django-statsd-mozilla

# scanner deps
requests

# dnsrecon / DNS scanning dependencies
dnspython
netaddr

# screenshots
Pillow
python-resize-image

# url parsing in the database, and several other locations
tldextract

# logging
colorlog

# for proxying external requests (mapbox)
django-proxy

# sentry client
sentry-sdk

# allow recursive comparison of dictionaries
deepdiff

urllib3

# loading json is faster in simplejson
# https://stackoverflow.com/questions/712791/what-are-the-differences-between-json-and-simplejson-python-modules
# needed for mapping reasons.
simplejson

# Remote worker TLS
pyopenssl

# static file collection/generation
django_compressor
csscompressor

retry

# map, to reduce the number of points (Ramer-Douglas-Peucker algorithm)
rdp

wikidata

django-nested-admin

# game requirements
django-crispy-forms
django-autocomplete-light

django-admin-sortable2

pyexcel-text
# game team colors
validators
django-colorful

# game, add multiple urls in one go.
django-select2

# ISO country code conversion
iso3166

# generic retry library
tenacity

# game
spectra
markdown

# geocoding organizations from python
googlemaps

# allowing generic import of these types of files:
django-excel
pyexcel-xls
pyexcel-xlsx
pyexcel-ods

# database clients
mysqlclient
psycopg2-binary # binary package installs wheel, avoiding compiling

# wsgi server
uwsgi
django-uwsgi
