# Tools/dependencies required for development or running tests.
autopep8
autoflake
isort
pylama
coverage
pytest
pytest-cov
pytest-django
# counterpart of requests for mock responses
pytest-responses
# output logging when test fails
pytest-logging
django-coverage
django-extensions
django-debug-toolbar
django-debug-toolbar-request-history
pytest-mock

# # dashboard for celery introspection
# # run failmap celery flower
# # go to http://localhost:5555/
# celery-flower

# docs / readthedocs.io
sphinx
sphinx-autobuild
recommonmark

# brotlipy  # doesn't work, some vague errors not worth the time: compression handled elsewhere
# slimit does not work with vue.js

# profiling
django-silk

# tests (of scanners)
httmock
freezegun
colorama
