# Dependencies for this project are manager using pip-tools (https://github.com/jazzband/pip-tools).
# This is a simple management tool to manage version pinnin build on top of Pip and requirements.txt.

# Please also refer to: https://gitlab.com/internet-cleanup-foundation/web-security-map/blob/master/docs/source/topics/development/development.md#python-dependencies-managment

# To keep this file clear and simple:
# - specify requirements that are needed for Websecmap development.
# - version pinning only if it is required and explained
# - only direct requirements, not recursive (requirements of requirements)

# make sure there are no version conflicts with requirements.txt
-c requirements.txt

black
autoflake
pylama
coverage
pytest
pytest-cov
pytest-django
# counterpart of requests for mock responses
pytest-responses
# output logging when test fails
pytest-logging
django-coverage
django-extensions
django-debug-toolbar
django-debug-toolbar-request-history
pytest-mock

# docs / readthedocs.io
sphinx
sphinx-autobuild
recommonmark
sphinx_rtd_theme

# tests (of scanners)
httmock
freezegun
colorama
pydotplus

# used to restart celery worker on file changes
watchdog

ipython
