.marker-cluster-unknown {
    background-color: rgba(226, 0, 210, 0.6);
}

.marker-cluster-unknown div {
    background-color: rgba(204, 0, 180, 0.6);
}

.marker-cluster-white {
    background-color: rgba(226, 163, 223, 0.6);
}

.marker-cluster-white div {
    background-color: rgba(204, 0, 175, 0.6);
}


.marker-cluster-good {
    background-color: rgba(226, 163, 223, 0.6);
}

.marker-cluster-good div {
    background-color: rgba(204, 0, 182, 0.6);
}

.marker-cluster-medium {
    background-color: rgba(226, 163, 223, 0.6);
}

.marker-cluster-medium div {
    background-color: rgba(204, 0, 182, 0.6);
}

.marker-cluster-low {
    background-color: rgba(226, 163, 223, 0.6);
}

.marker-cluster-low div {
    background-color: rgba(204, 0, 182, 0.6);
}

.marker-cluster-high{
    background-color: rgba(226, 163, 223, 0.6);
}

.marker-cluster-high div {
    background-color: rgba(204, 0, 182, 0.6);
}

.good {
    color: #ff00d0;
}

.medium {
    color: #ff00d0;
}

.bad {
    color: #ff00d0;
}

.report_background_bad {
    background-color: rgba(251, 0, 222, 0.3);
}

.report_background_medium {
    background-color: rgba(251, 0, 222, 0.3);
}

.report_background_low {
    background-color: rgba(251, 0, 222, 0.3);
}

.report_url_background_good {
    background-color: rgba(251, 0, 222, 0.3);
}

.report_url_background_bad {
    background: linear-gradient(rgba(251, 0, 222, 0.3), rgba(255, 255, 255, 0.0));
}

.report_url_background_medium {
    background: linear-gradient(rgba(251, 0, 222,  0.3), rgba(255, 255, 255, 0.0));
}

.report_url_background_good {
    background: linear-gradient(rgba(251, 0, 222,  0.3), rgba(255, 255, 255, 0.0));
}

.awarded_points_medium {
    border: 1px solid magenta;
    background-color: darkmagenta;
}

.awarded_points_high {
    border: 1px solid magenta;
    background-color: darkmagenta;
}

.awarded_points_low, .awarded_points_perfect {
    border: 1px solid magenta;
    background-color: darkmagenta;
}

.awarded_points_explained {
    border: 2px solid #ff00d0;
    background-color: #ff00d0;
}

.total_awarded_points_medium  {
    border: 2px solid magenta;
    background-color: darkmagenta;
}

.total_awarded_points_bad {
    border: 2px solid magenta;
    background-color: darkmagenta;
}

.total_awarded_points_good {
    border: 2px solid magenta;
    background-color: darkmagenta;
}


.lowrow {
    color: #ff00d0;
}

.mediumrow {
    color: darkmagenta;
}

.badrow {
    color: #ff00d0;
}

.goodrow {
    color: #ff00d0;
}

.unknownrow {
    color: darkmagenta;
}

.improvements_good, .improvements_neutral {
    color: magenta;
}

.improvements_bad {
    color: magenta;
}

.improvements_good_large, .improvements_neutral_large {
    color: magenta;
}

.improvements_bad_large {
    color: magenta;
}

.high {
    background-color: #ff00d0;
}

.medium {
    background-color: #ff00d0;;
}

.low {
    background-color: #ff00d0;
}

.high_text {
    color: #ff00d0;
}

.medium_text {
    color: #ff00d0;;
}

.low_text {
    color: #ff00d0;
}

.leaflet-marker-high
{
    background-color: rgba(255, 0, 228, 0.6);
    border: 2px solid rgba(179, 0, 163, 0.5);
}

.leaflet-marker-medium
{
    background-color: rgba(255, 0, 228, 0.6);
    border: 2px solid rgba(179, 0, 163, 0.5);
}

.leaflet-marker-good
{
    background-color: rgba(255, 0, 228, 0.6);
    border: 2px solid rgba(179, 0, 163, 0.5);
}

.leaflet-marker-low
{
    background-color: rgba(255, 0, 228, 0.6);
    border: 2px solid rgba(179, 0, 163, 0.5);
}

.leaflet-marker-unknown
{
    background-color: rgba(255, 0, 228, 0.6);
    border: 2px solid rgba(179, 0, 163, 0.5);
}

.map_polygon_high
{
    fill: #ff00d0;
    background-color: #ff00d0;
}

.map_polygon_medium
{
    fill: #ff00d0;
    background-color: #ff00d0;
}

.map_polygon_low
{
    fill: #ff00d0;
    background-color: #ff00d0;
}

.map_polygon_good
{
    fill: #ff00d0;
    background-color: #ff00d0;
}

.map_polygon_unknown
{
    fill: #ff00d0;
    background-color: #ff00d0;
}

/* These are the colors of bootstrap. We'll switch it lateron i guess... */
.bg-danger, .btn-danger {
    background-color: #dc35bd !important;
}

.bg-warning {
    background-color: #dc35bd !important;
}

.bg-success, .btn-success {
    background-color: #dc35bd !important;
}

.bg-primary {
    background-color: #dc35bd !important;
}

.btn-info {
    background-color: #dc35bd !important;
}

a, a:hover, a:visited {
    color: magenta !important
}

.announcement{
    background-color: #fdbfff;
}

.charts_high {
    background-color: rgba(255, 54, 229, 0.2);
    border-color: rgb(255, 48, 228);
}

.charts_medium {
    background-color: rgba(255, 54, 229, 0.2);
    border-color: rgb(255, 48, 228);
}

.charts_low {
    background-color: rgba(255, 54, 229, 0.2);
    border-color: rgb(255, 48, 228);
}

.charts_good {
    background-color: rgba(255, 54, 229, 0.2);
    border-color: rgb(255, 48, 228);
}

.charts_connectivity_internet_adresses {
    background-color: rgba(255, 54, 229, 0.2);
    border-color: rgb(255, 48, 228);
}

.charts_connectivity_services {
    background-color: rgba(255, 54, 229, 0.2);
    border-color: rgb(255, 48, 228);
}

.selected_country {
    background-color: #e8e8e8;
    border-top: 4px solid #e420ff;
    color: black;
}

.selected_layer {
    background-color: #e8e8e8;
    border-bottom: 4px solid #ff00fa;
    color: black;
}

#lastrow {
    background-color: black;
    border-top: 10px solid #e800ee;
    color: white;
}

.chat_quote_left {
    background-color: rgba(254, 26, 242, 0.1);
}

.chat_quote_right {
    background-color: rgba(240, 30, 220, 0.2);
}
