<!DOCTYPE html>{% load static %} {% load i18n %}
{# todo: de rest vertalen naar Brits als basistaal #}
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

        <title>{% trans "Site Title" %}</title>

        <link rel="shortcut icon" type="image/png" href="{%  static 'favicon.ico' %}"/>

        <link rel="stylesheet" type="text/css" href="{% static 'css/leaflet.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap_v3.3.6.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-theme_v3.3.6.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/overrides.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/leaflet.fullscreen.css' %}">

        <script type="text/javascript" src="{% static 'js/jquery_v2.2.0.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/bootstrap_v3.3.6.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/leaflet.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/vue.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/Leaflet.fullscreen.min.js' %}"></script>
    </head>

    <body role="document">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target=".navbar-collapse">
                        <span class="sr-only">{% trans "Toggle navigation" %}</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">{% trans "Fail Map" %}</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="#map">{% trans "Map" %}</a></li>
                        <li><a href="#bar">{% trans "Bar" %}</a></li>
                        <li><a href="#numbers">{% trans "Numbers" %}</a></li>
                        <li><a href="#topfail">{% trans "Top Fail" %}</a></li>
                        <li><a href="#explanation">{% trans "Explanation" %}</a></li>
                        <li style="width: 715px">
                            <div id="historycontrol">
                                <small>{% trans "Data slider" %} - {% verbatim %}{{ visibleweek }}{% endverbatim %}</small><br />
                                <input id="history" type="range" value="0" min="0" max="80" step="1" style="direction: rtl"/>
                            </div>
                        </li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>

        <div class="container theme-showcase" role="main">

            <div class="jumbotron">
                <h1>{% trans "Fail Map" %}</h1>
                <p>{% trans "Fail Map Introduction" %}</p>
                <p>Stuur nieuwe subdomeinen in via twitter:
                    <a href="https://twitter.com/faalkaart" target="_blank">@faalkaart</a>
                    of mail <a href="mailto:info@faalkaart.nl?subject=subdomeinen">info@faalkaart.nl</a>
                </p>
            </div>

            {% include "target_audience.html" %}

            {% include "donation_row.html" %}

            <div class="page-header">
                <a name="map" class="jumptonav"></a>
                <h1>{% trans "The Map" %}</h1>
                <p>{% trans "The Map Introduction" %}</p>

                <div id='map'></div>
                <script type="text/javascript" src="{% static 'js/script.js' %}?t={{ timestamp }}"></script>
            </div>

            {% verbatim %}
            <div id="domainlistcontainer">
                <div id="domainlist" v-if="urls">
                    <h4>{% endverbatim %}{% trans "Domains" %}{% verbatim %} </h4>
                    <div v-for="url in urls">
                        <span v-bind:class="colorize(url.url.points)">
                            {{ url.url.url }}
                        </span>
                    </div>
                    <br />
                </div>
            </div>
            {% endverbatim %}

            <div id="statistics">
                <div class="page-header">
                    <a name="bar" class="jumptonav"></a>
                    <h1>{% trans "The Bar" %}</h1>
                </div>

                <div class="progress">
                    <div class="progress-bar progress-bar-success" :style="{width:greenpercentage}">
                        <span class="sr-only">Oh, wow!</span>
                    </div>
                    <div class="progress-bar progress-bar-warning" :style="{width:orangepercentage}">
                        <span class="sr-only">Pretty fair, but not really there.</span>
                    </div>
                    <div class="progress-bar progress-bar-danger" :style="{width:redpercentage}">
                        <span class='sr-only'>They have a lot to learn.</span>
                    </div>
                    <div class="progress-bar progress-bar-basic" :style="{width:unknownpercentage}">
                        <span class='sr-only'>We didn't scan them then...</span>
                    </div>
                </div>git 

                <div class="page-header">
                    <a name="numbers" class="jumptonav"></a>
                    <h1>{% trans "The Numbers" %}</h1>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h3>Organizations</h3>
                        <table class="table">
                            <thead>
                            <tr>
                                <th width="20%">{% trans "When" %}</th>
                                <th width="20%">{% trans "Number" %}</th>
                                <th width="20%">{% trans "Good" %}</th>
                                <th width="20%">{% trans "Average" %}</th>
                                <th width="20%">{% trans "Bad" %}</th>
                            </tr>
                            </thead>
                            <tbody v-if="data.data">
                                {% verbatim %}
                                <tr v-for="(x, key) in data.data">
                                    <td>{{ key }}</td>
                                    <td>{{ x["included_organizations"] }}</td>
                                    <td v-bind:style="'background: linear-gradient(0deg, #dff9d7 0%, #dff9d7 ' + x['green percentage'] + '%, white ' + x['green percentage'] + '%, white 100%);'">{{ x["green"] }} <small>({{ x["green percentage"] }}%)</small></td>
                                    <td v-bind:style="'background: linear-gradient(0deg, #ffefd3 0%, #ffefd3 ' + x['orange percentage'] + '%, white ' + x['orange percentage'] + '%, white 100%);'">{{ x["orange"] }} <small>({{ x["orange percentage"] }}%)</small></td>
                                    <td v-bind:style="'background: linear-gradient(0deg, #fbeaea 0%, #fbeaea ' + x['red percentage'] + '%, white ' + x['red percentage'] + '%, white 100%);'">{{ x["red"] }} <small>({{ x["red percentage"] }}%)</small></td>
                                </tr>
                                {% endverbatim %}
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-6">
                        <h3>Internet addresses</h3>
                        <table class="table">
                            <thead>
                            <tr>
                                <th width="20%">{% trans "When" %}</th>
                                <th width="20%">{% trans "Number" %}</th>
                                <th width="20%">{% trans "Good" %}</th>
                                <th width="20%">{% trans "Average" %}</th>
                                <th width="20%">{% trans "Bad" %}</th>
                            </tr>
                            </thead>
                            <tbody v-if="data.data">
                                {% verbatim %}
                                <tr v-for="(x, key) in data.data">
                                    <td>{{ key }}</td>
                                    <td>{{ x["total_urls"] }}</td>
                                    <td v-bind:style="'background: linear-gradient(0deg, #dff9d7 0%, #dff9d7 ' + x['green url percentage'] + '%, white ' + x['green url percentage'] + '%, white 100%);'">{{ x["green_urls"] }} <small>({{ x["green url percentage"] }}%)</small></td>
                                    <td v-bind:style="'background: linear-gradient(0deg, #ffefd3 0%, #ffefd3 ' + x['orange url percentage'] + '%, white ' + x['orange url percentage'] + '%, white 100%);'">{{ x["orange_urls"] }} <small>({{ x["orange url percentage"] }}%)</small></td>
                                    <td v-bind:style="'background: linear-gradient(0deg, #fbeaea 0%, #fbeaea ' + x['red url percentage'] + '%, white ' + x['red url percentage'] + '%, white 100%);'">{{ x["red_urls"] }} <small>({{ x["red url percentage"] }}%)</small></td>
                                </tr>
                                {% endverbatim %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            {% include "donation_row.html" %}

            <div class="page-header" id="report">
                <a name="report" class="jumptonav"></a>
                <div v-if="name">
                    <h1>{% verbatim %}{{ name }}{% endverbatim %}</h1>
                    <div>
                        {% trans "Data from" %}: {% verbatim %}{{ humanize(when) }}{% endverbatim %}<br />
                        {% trans "Points" %}: {% verbatim %}{{ points }}{% endverbatim %}, {% trans "congratulations" %}!<br />
                        <br />
                        {% verbatim %}
                        <div v-for="url in urls" class="perurl" v-bind:style="'background-color: ' + colorizebg(url.url.points)">
                            <div class="screenshotlist">
                                <div v-for="(endpoint, key) in url.url.endpoints">
                                    <div v-for="(myendpoint, mykey) in endpoint">
                                        <!-- There is no support for different ip's/ipv6 in endpoint, only for protocols. -->
                                        <a v-bind:href="myendpoint.protocol + '://' + url.url.url + ':' + myendpoint.port" target="_blank"
                                        v-bind:title="'Visit ' + myendpoint.protocol + '://' + url.url.url + ':' + myendpoint.port">
                                            <div class="imagediv" v-bind:style="'background-image: url(\'/static/images/screenshots/'+ myendpoint.protocol + idize(url.url.url) + myendpoint.port + '_latest.png\');'"></div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="reportlist">
                                <span class="faildomain" v-bind:class="colorize(url.url.points)" v-bind:data-tooltip-content="idizetag(url.url.url)" >
                                            {{ url.url.url }}</span>
                                <div v-for="(endpoint, key) in url.url.endpoints">
                                    <div v-for="(myendpoint, mykey) in endpoint">
                                        &nbsp; {% endverbatim %}{% trans "Address" %}{% verbatim %}: {{ myendpoint.ip }}:{{ myendpoint.port }}
                                        <div v-for="(rating, key) in myendpoint.ratings">
                                            <div v-for="(myrating, myratingkey) in rating">
                                                &nbsp; &nbsp; {% endverbatim %}{% trans "Score" %}{% verbatim %}: {{ myrating.points }} {% endverbatim %}{% trans "points" %}{% verbatim %}<br />
                                                &nbsp; &nbsp; {% endverbatim %}{% trans "since" %}{% verbatim %}: {{ humanize(myrating.since) }} <br />
                                                &nbsp; &nbsp; {% endverbatim %}{% trans "Last scan" %}{% verbatim %}: {{ humanize(myrating.last_scan) }} <br />
                                                &nbsp; &nbsp; {% endverbatim %}{% trans "Explanation" %}{% verbatim %}: {{ myrating.explanation }}<br />
                                                <br />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <a :href="'https://www.ssllabs.com/ssltest/analyze.html?d=' + url.url.url + '&hideResults=on&latest'" target="_blank">Second Opinion</a>
                            </div>
                        </div>
                        {% endverbatim %}
                    </div>
                </div>
            </div>

            <br style="clear: both">

            <div class="row">
                {% include "topfail.html" %}
                {% include "topwin.html" %}
            </div>

            <div class="row">
                {% include "terrible_urls.html" %}
                {% include "faq.html" %}
            </div>

            <div id="lastrow">
                <div class="row">
                    <a name="footer" class="jumptonav"></a>

                    <div class="col-md-3">
                        <img src="{% static 'images/internet_cleanup_foundation_logo.png' %}" height="100"/><br />
                        <b><a href="https://internetcleanup.foundation" target="_blank">InternetCleanup.Foundation</a></b>
                        <p>Let's clean up the internet: our privacy depends on it!<br /><br />
                        </p>
                    </div>
                    <div class="col-md-3">
                        <img src="{% static 'images/github_logo.png' %}" height="100"/><br />
                        <b><a href="https://github.com/failmap/" target="_blank">Fail Map</a></b>
                        <p>Fail map is open software maintained by the Internet Cleanup Foundation.</p>
                    </div>
                    <div class="col-md-6">
                        <b>Bescherm je gegevens! Doneer nu!</b><br />
                        <p>We houden organisaties scherp om ieders gegevens te beschermen. Vind je dit cool? Jouw donatie zorgt voor blijvende updates, onderhoud en nieuwe controles!</p>
                        <p>
                            <b>Doneer gemakkelijk, veilig en snel door op een bedrag te klikken:</b>
                        </p>
                        <div class="donatebuttons">
                            <span class="Donate a5"><a href="https://useplink.com/payment/qaCyn8t6Tar7c5zVS6Fa/5" target="_blank">&euro; 5</a></span>
                            <span class="Donate a10"><a href="https://useplink.com/payment/qaCyn8t6Tar7c5zVS6Fa/10" target="_blank">&euro; 10</a></span>
                            <span class="Donate a20"><a href="https://useplink.com/payment/qaCyn8t6Tar7c5zVS6Fa/25" target="_blank">&euro; 20</a></span>
                            <span class="Donate a50"><a href="https://useplink.com/payment/qaCyn8t6Tar7c5zVS6Fa/50" target="_blank">&euro; 50</a></span>
                            <span class="Donate a100"><a href="https://useplink.com/payment/qaCyn8t6Tar7c5zVS6Fa/100" target="_blank">&euro; 100</a></span>
                            <span class="Donate a200"><a href="https://useplink.com/payment/qaCyn8t6Tar7c5zVS6Fa/200" target="_blank">&euro; 200</a></span>
                            <span class="Donate a500"><a href="https://useplink.com/payment/qaCyn8t6Tar7c5zVS6Fa/500" target="_blank">&euro; 500</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
<!--
This page was generated with MSPAINT.EXE on {{ timestamp }} in over 9000 seconds.
-->