<!DOCTYPE html>{% load static %} {% load i18n %}
{# todo: de rest vertalen naar Brits als basistaal #}
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

        <title>{% trans "Site Title" %}</title>

        <link rel="shortcut icon" type="image/png" href="{%  static 'favicon.ico' %}"/>

        <link rel="stylesheet" type="text/css" href="{% static 'css/leaflet.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap_v3.3.6.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-theme_v3.3.6.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/overrides.css' %}">

        <script type="text/javascript" src="{% static 'js/jquery_v2.2.0.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/bootstrap_v3.3.6.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/leaflet.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/vue.js' %}"></script>
    </head>

    <body role="document">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target=".navbar-collapse">
                        <span class="sr-only">{% trans "Toggle navigation" %}</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">{% trans "Fail Map" %}</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="#map">{% trans "Map" %}</a></li>
                        <li><a href="#bar">{% trans "Bar" %}</a></li>
                        <li><a href="#numbers">{% trans "Numbers" %}</a></li>
                        <li><a href="#topfail">{% trans "Top Fail" %}</a></li>
                        <li><a href="#explanation">{% trans "Explanation" %}</a></li>
                        <li style="width: 715px"><small>{% trans "Time slider" %} - {% trans "Use the time slider to go back weeks into time, for a maximum of 52." %}</small><br />
                            <input id="history" type="range" value="0" min="0" max="80" step="1" style="direction: rtl"/></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>

        <div class="container theme-showcase" role="main">

            <div class="jumbotron">
                <h1>{% trans "Fail Map" %}</h1>
                <p>{% trans "Fail Map Introduction" %}</p>
                <p>Stuur nieuwe subdomeinen in via twitter:
                    <a href="https://twitter.com/faalkaart">@faalkaart</a>
                    of mail <a href="mailto:info@faalkaart.nl?subject=subdomeinen">info@faalkaart.nl</a>
                </p>
                <p>
                    <small>Update 28 augustus 2017: Er wordt op een nieuwe manier beoordeeld. Per beveiligingsfout worden punten uitgedeeld.
                        Heeft een organisatie geen punten, dan hebben we geen fouten kunnen vinden: precies wat het doel is!
                        <br><br>
                        In deze update is de kaartsoftware bijgewerkt: er wordt nu gebruik gemaakt van open streetmaps, beter kaartmateriaal,
                        het django python framework, dynamische javascripts en betere caching. De site laadt niet alleen sneller,
                        hij is beter te onderhouden. Alle ontwikkeling van de faalkaart gebeurd inmiddels open source. Patches zijn welkom.
                        <br><br>
                        Al het werk levert ook wat nieuwe features op: deze site wordt automatisch ververst als je de site open laat staan, het is
                        mogelijk om door de tijd heen te scrollen en er is nu een top 50 van meest falende organisaties.
                        In plaats van afzonderlijke sites te kijken, wordt er nu per organisatie beoordeeld. Tenslotte hebben we alle sites
                        die niet meteen TLS spreken aangemerkt als een "gemiddelde" fout: in de vorige versie van de kaart werd hier nog
                        geen oordeel over gegeven. Het hebben van geen TLS is eigenlijk net zo erg als slechte TLS.
                    </small>
                </p>
            </div>

            <div class="page-header">
                <a name="map" class="jumptonav"></a>
                <h1>{% trans "The Map" %}</h1>
                <p>{% trans "The Map Introduction" %}</p>

                <div id='map'></div>
                <script type="text/javascript" src="{% static 'js/failmapstyling.js' %}?t={{ timestamp }}"></script>
            </div>

            <!-- todo: dynamic whitespace stays visible, even when the list is rendered elsewhere.
             patches are welcome! -->
            {% verbatim %}
            <div id="domainlistcontainer">
                <div id="domainlist" v-if="urls">
                    <h4>{% endverbatim %}{% trans "Domains" %}{% verbatim %}: </h4>
                    <div v-for="url in urls">
                        <span v-bind:class="colorize(url.url.points)">
                            {{ url.url.url }}
                        </span>
                    </div>
                    <br />
                    <p><small>{% endverbatim %}{% trans "This list does not show history." %}{% verbatim %}</small></p>
                </div>
            </div>
            {% endverbatim %}

            <div id="statistics">
                <div class="page-header">
                    <a name="bar" class="jumptonav"></a>
                    <h1>{% trans "The Bar" %}</h1>
                </div>

                <div class="progress">
                    <div class="progress-bar progress-bar-info" :style="{width:unknownpercentage}">
                        <span class='sr-only'>We didn't scan them then...</span>
                    </div>
                    <div class="progress-bar progress-bar-success" :style="{width:greenpercentage}">
                        <span class="sr-only">Oh, wow!</span>
                    </div>
                    <div class="progress-bar progress-bar-warning" :style="{width:orangepercentage}">
                        <span class="sr-only">Pretty fair, but not really there.</span>
                    </div>
                    <div class="progress-bar progress-bar-danger" :style="{width:redpercentage}">
                        <span class='sr-only'>They have a lot to learn.</span>
                    </div>
                </div>

                <div class="page-header">
                    <a name="numbers" class="jumptonav"></a>
                    <h1>{% trans "The Numbers" %}</h1>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table">
                            <thead>
                            <tr>
                                <th width="20%">{% trans "When" %}</th>
                                <th width="20%">{% trans "Organizations" %}</th>
                                <th width="20%">{% trans "Good" %}</th>
                                <th width="20%">{% trans "Average" %}</th>
                                <th width="20%">{% trans "Bad" %}</th>
                            </tr>
                            </thead>
                            <tbody v-if="data.data">
                                <tr>
                                    <td>{% trans "Now" %}</td>
                                    {% verbatim %}
                                    <td>{{ data.data.now["total_organizations"] }}</td>
                                    <td>{{ data.data.now["green"] }} <small>({{ data.data.now["green percentage"] }}%)</small></td>
                                    <td>{{ data.data.now["orange"] }} <small>({{ data.data.now["orange percentage"] }}%)</small></td>
                                    <td>{{ data.data.now["red"] }} <small>({{ data.data.now["red percentage"] }}%)</small></td>
                                    {% endverbatim %}
                                </tr>
                                <tr>
                                    <td>{% trans "7 days ago ago" %}</td>
                                    {% verbatim %}
                                    <td>{{ data.data["7 days ago"]["total_organizations"] }}</td>
                                    <td>{{ data.data["7 days ago"]["green"] }} <small>({{ data.data["7 days ago"]["green percentage"] }}%)</small></td>
                                    <td>{{ data.data["7 days ago"]["orange"] }} <small>({{ data.data["7 days ago"]["orange percentage"] }}%)</small></td>
                                    <td>{{ data.data["7 days ago"]["red"] }} <small>({{ data.data["7 days ago"]["red percentage"] }}%)</small></td>
                                    {% endverbatim %}
                                </tr>
                                <tr>
                                    <td>{% trans "2 weeks ago" %}</td>
                                    {% verbatim %}
                                    <td>{{ data.data["2 weeks ago"]["total_organizations"] }}</td>
                                    <td>{{ data.data["2 weeks ago"]["green"] }} <small>({{ data.data["2 weeks ago"]["green percentage"] }}%)</small></td>
                                    <td>{{ data.data["2 weeks ago"]["orange"] }} <small>({{ data.data["2 weeks ago"]["orange percentage"] }}%)</small></td>
                                    <td>{{ data.data["2 weeks ago"]["red"] }} <small>({{ data.data["2 weeks ago"]["red percentage"] }}%)</small></td>
                                    {% endverbatim %}
                                </tr>
                                <tr>
                                    <td>{% trans "1 months ago" %}</td>
                                    {% verbatim %}
                                    <td>{{ data.data["1 month ago"]["total_organizations"] }}</td>
                                    <td>{{ data.data["1 month ago"]["green"] }} <small>({{ data.data["1 month ago"]["green percentage"] }}%)</small></td>
                                    <td>{{ data.data["1 month ago"]["orange"] }} <small>({{ data.data["1 month ago"]["orange percentage"] }}%)</small></td>
                                    <td>{{ data.data["1 month ago"]["red"] }} <small>({{ data.data["1 month ago"]["red percentage"] }}%)</small></td>
                                    {% endverbatim %}
                                </tr>
                                <tr>
                                    <td>{% trans "2 months ago" %}</td>
                                    {% verbatim %}
                                    <td>{{ data.data["2 months ago"]["total_organizations"] }}</td>
                                    <td>{{ data.data["2 months ago"]["green"] }} <small>({{ data.data["2 months ago"]["green percentage"] }}%)</small></td>
                                    <td>{{ data.data["2 months ago"]["orange"] }} <small>({{ data.data["2 months ago"]["orange percentage"] }}%)</small></td>
                                    <td>{{ data.data["2 months ago"]["red"] }} <small>({{ data.data["2 months ago"]["red percentage"] }}%)</small></td>
                                    {% endverbatim %}
                                </tr>
                                <tr>
                                    <td>{% trans "3 months ago" %}</td>
                                    {% verbatim %}
                                    <td>{{ data.data["3 months ago"]["total_organizations"] }}</td>
                                    <td>{{ data.data["3 months ago"]["green"] }} <small>({{ data.data["3 months ago"]["green percentage"] }}%)</small></td>
                                    <td>{{ data.data["3 months ago"]["orange"] }} <small>({{ data.data["3 months ago"]["orange percentage"] }}%)</small></td>
                                    <td>{{ data.data["3 months ago"]["red"] }} <small>({{ data.data["3 months ago"]["red percentage"] }}%)</small></td>
                                    {% endverbatim %}
                                </tr>
                                <tr>
                                    <td>{% trans "4 months ago" %}</td>
                                    {% verbatim %}
                                    <td>{{ data.data["4 months ago"]["total_organizations"] }}</td>
                                    <td>{{ data.data["4 months ago"]["green"] }} <small>({{ data.data["4 months ago"]["green percentage"] }}%)</small></td>
                                    <td>{{ data.data["4 months ago"]["orange"] }} <small>({{ data.data["4 months ago"]["orange percentage"] }}%)</small></td>
                                    <td>{{ data.data["4 months ago"]["red"] }} <small>({{ data.data["4 months ago"]["red percentage"] }}%)</small></td>
                                    {% endverbatim %}
                                </tr>
                                <tr>
                                    <td>{% trans "5 months ago" %}</td>
                                    {% verbatim %}
                                    <td>{{ data.data["5 months ago"]["total_organizations"] }}</td>
                                    <td>{{ data.data["5 months ago"]["green"] }} <small>({{ data.data["5 months ago"]["green percentage"] }}%)</small></td>
                                    <td>{{ data.data["5 months ago"]["orange"] }} <small>({{ data.data["5 months ago"]["orange percentage"] }}%)</small></td>
                                    <td>{{ data.data["5 months ago"]["red"] }} <small>({{ data.data["5 months ago"]["red percentage"] }}%)</small></td>
                                    {% endverbatim %}
                                </tr>
                                <tr>
                                    <td>{% trans "6 months ago" %}</td>
                                    {% verbatim %}
                                    <td>{{ data.data["6 months ago"]["total_organizations"] }}</td>
                                    <td>{{ data.data["6 months ago"]["green"] }} <small>({{ data.data["6 months ago"]["green percentage"] }}%)</small></td>
                                    <td>{{ data.data["6 months ago"]["orange"] }} <small>({{ data.data["6 months ago"]["orange percentage"] }}%)</small></td>
                                    <td>{{ data.data["6 months ago"]["red"] }} <small>({{ data.data["6 months ago"]["red percentage"] }}%)</small></td>
                                    {% endverbatim %}
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="page-header" id="report">
                <a name="report" class="jumptonav"></a>
                <div v-if="name">
                <h1>{% verbatim %}{{ name }}{% endverbatim %}</h1>
                <div>
                    {% trans "Points" %}: {% verbatim %}{{ points }}{% endverbatim %}, {% trans "congratulations" %}!<br />
                    <br />
                    {% trans "Score layout" %}: <br />
                    {% verbatim %}
                    <div v-for="url in urls">
                        <span class="failtip" v-bind:class="colorize(url.url.points)" v-bind:data-tooltip-content="idizetag(url.url.url)" >
                            {% endverbatim %}{% trans "Domain" %}{% verbatim %}: {{ url.url.url }}
                            <div v-for="(endpoint, key) in url.url.endpoints">
                                <div v-for="(myendpoint, mykey) in endpoint">
                                    &nbsp; {% endverbatim %}{% trans "Address" %}{% verbatim %}: {{ myendpoint.ip }}:{{ myendpoint.port }}
                                    <div v-for="(rating, key) in myendpoint.ratings">
                                        <div v-for="(myrating, myratingkey) in rating">
                                            &nbsp; &nbsp; {% endverbatim %}{% trans "Result" %}{% verbatim %}: {{ myrating.points }} {% endverbatim %}{% trans "points" %}{% verbatim %}, {% endverbatim %}{% trans "since" %}{% verbatim %}: {{ myrating.since }} <br />
                                            &nbsp; &nbsp; {% endverbatim %}{% trans "Explanation" %}{% verbatim %}: {{ myrating.explanation }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </span>
                    </div>
                    {% endverbatim %}
                </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="page-header">
                        <a name="explanation" class="jumptonav"></a>
                        <h1>{% trans "About Failmap" %}</h1>
                    </div>

                    <h2>Waarom Faalkaart?</h2>
                    <p>
                        Antwoord: Het is boeiend om te zien wat de status is van veiligheid van
                        dataverbindingen van publieke diensten, daar wordt namelijk vaak gevoelige
                        informatie verwerkt. De kaart heet Faalkaart omdat initieel werd aangenomen dat er
                        nog veel te verbeteren viel en een tendentieuze naam eerder leidt tot actie dan een
                        schattige naam. Dat bleek terecht: hoewel er meer op orde was dan aangenomen,
                        werden er in het eerste weekend toch meer dan 150 verbindingen extra versleuteld.
                    </p>

                    <h2>Mijn gemeente is rood, wat nu?</h2>
                    <p>
                        Antwoord: Helaas zit er een gat in de muur: de gemeente zal actie moeten ondernemen
                        om e.e.a. goed in te richten of een <a href="https://letsencrypt.org">nieuw
                        certificaat te installeren</a>. Er wordt uitgegaan van de zwakste schakel: ergens
                        een onvoldoende betekent een rode vlek op de kaart.
                    </p>

                    <h2>Mijn gemeente is groen, is alles goed?</h2>
                    <p>
                        Antwoord: De kans dat een subdomein mist, en juist daar een gat in de muur zit, is
                        aanwezig. De vuistregel is dat meer subdomeinen meer zekerheid geven.
                    </p>

                    <h2>Hoe compleet is dit?</h2>
                    <p>
                        Antwoord: Er zijn meer dan 1800 domeinen getest van 350+ gemeenten. Er wordt getest
                        op poort 443 (https). De geteste domeinen staan links op deze site vermeld. Er is
                        alleen getest op *.gemeentenaam.tld, dus niet op doorverwijzingen. Sommige diensten
                        zitten achter ip- en certificaatfiltering en zijn dus niet testbaar zonder de juiste
                        voorwaarden. Sommige gemeenten accepteren DNS wildcards, hiervan zijn alleen www.~
                        en ~ getest: dit is dus incompleet en kan voor deze gemeenten de schijn wekken dat
                        alles in orde is.
                    </p>

                    <h2>Hoe komt de score tot stand?</h2>
                    <p>
                        Sinds faalkaart 2.0 wordt de score anders opgebouwd: er wordt gerekend in punten.
                        Aan ieder beveiligingsprobleem worden punten toegekend.
                        <br />
                        Alles onder de 100 punten wordt gezien als goed. Tussen de 100 en 399 punten is
                        voldoende (oranje), alles daarboven is onvoldoende. Bij iedere verbinding naar
                        het internet is er dus risico op meer punten: organisaties die erg veel kanalen
                        naar het internet hebben, nemen dus meer risico en hebben meer te onderhouden.
                    </p>

                    <h2>Hoe komt de score tot stand?</h2>
                    <p>
                        Antwoord: Er wordt verbinding gemaakt op poort 443. Als er een verbinding is, en er
                        is een beveiligde verbinding bedoeld, dan wordt gecontroleerd hoe goed die
                        verbinding is. Als er een beveiligde verbinding is, dan wordt deze geacht als nodig.
                        Het is lastig om automatisch te bepalen of een domein wel of geen beveiligde
                        verbinding vereist: publieke informatie moet ook bereikbaar zijn voor mensen die
                        internetten via een aardappel.
                    </p>

                    <h2>Hoe moet SSL/TLS worden ingericht?</h2>
                    <p>
                        Antwoord: Er is een <a href="https://www.google.nl/search?q=secure+tls+configuration&oq=secure+tls+configuration&aqs=chrome..69i57.6276j0j1&sourceid=chrome&es_sm=93&ie=UTF-8">aantal goede handleidingen te vinden</a>.
                        Toonaangevend advies komt van het <a href="https://www.ncsc.nl/actueel/whitepapers/ict-beveiligingsrichtlijnen-voor-transport-layer-security-tls.html">Nationaal Cyber Security Centrum</a>.
                        Een variant toegespitst op gemeenten, die ook ingaat op DNSSEC, staat op de site van
                        <a href="https://www.ibdgemeenten.nl/3619-2/" target="_blank">IBD Gemeenten</a>.
                        Lijsten met goede instellingen zijn te vinden op <a href="https://cipherli.st">Cipher List</a>.
                    </p>

                    <h2>Sinds wanneer bestaat deze kaart?</h2>
                    <p>
                        Antwoord: De kaart is gepresenteerd door sprekers op de
                        "<a href="http://inhethoofdvandehacker.nl/" target="_blank">in het hoofd van de hacker</a>"
                        conferentie van 16 maart 2016. Een volledig programma van de conferentie is terug
                        te zien op de site van de conferentie.
                    </p>

                    <h2>Hoe is dit tot stand gekomen?</h2>
                    <p>Antwoord: Dit project is tot stand gekomen door:</p>
                    <ul>
                        <li>Programmeer, hak en breekwerk door Elger Jonker</li>
                        <li>DNSSEC en nuttig ongevraagd advies: Eelko Neven</li>
                        <li>Actuele lijst gemeenten: 200ok.nl</li>
                        <li>Beoordeling op veiligheid door Qualys SSL labs</li>
                        <li>Polygonen en kaartdata: Openstreetmaps.</li>
                        <li>Simpele DNS verkenning met DNS Recon</li>
                        <li>Styling: Twitter Bootstrap</li>
                        <li>Talen: Python op MariaDB.</li>
                        <li>Financiele ondersteuning: SIDN Fonds.</li>
                    </ul>

                    <h2>Wat is de historie van Faalkaart?</h2>

                    <p>
                        <small><b>15 februari 2017</b>:
                            Inmiddels wordt er weer
                            <a href="https://github.com/failmap" target="_blank">volop gewerkt</a> aan
                            faalkaart. De kaart is bijgewerkt naar nieuwe, goed onderhoudbare, technieken.
                            Inmiddels is er een
                            <a href="https://internetcleanup.foundation" target="_blank">stichting opgericht</a>
                            om de ontwikkeling van de kaart te stimuleren. Binnenkort wordt er gewerkt aan
                            het beter scannen van e.e.a: er gaat meer en sneller gescand worden.
                        </small>
                    </p>
                    <p>
                        <small>
                            <b>7 augustus 2016</b>:
                            Faalkaart heeft de steun gekregen van het SIDN fonds, we zullen het komende jaar
                            de kaart uitbreiden en op veel meer controleren. We gaan de kaartrot oplossen en
                            zorgen dat het makkelijk wordt om zelf de kaart te kunnen draaien
                            (onafhankelijk). Ook is de chaching van de site ingevoerd, dus het voelt weer
                            snel(ler) aan.
                        </small>
                    </p>
                    <p>
                        <small>
                            <b>9 juni 2016</b>:
                            Door een nieuwe kwetsbaarheid zijn er 100+ domeinen in het rood beland, van 2%
                            naar 9% kwetsbaar dus. Het aantal matige domeinen blijft gelukkig afnemen. Hoe
                            lang zal het duren tot alles gepatched is? Wie patcht het laatst?
                        </small>
                    </p>
                    <p>
                        <small>
                            <b>Extra update</b>:
                            Faalkaart heeft een projectbijdrage gevraagd aan het SIDN
                            fonds om er voor te zorgen dat dit middel breder en makkelijker kan worden
                            ingezet. We gaan hierdoor vele honderdduizenden kwetsbaarheden aan de kaak te
                            stellen en blijven motiveren om ze te verhelpen. De techneuten, hackers en nerds
                            achter faalkaart staan te trappelen om het internet robuuster te maken. Half
                            Juni weten we meer. Spannend!
                        </small>
                    </p>
                    <p>
                        <small>
                            <b>Extra update 2</b>:
                            We zien dat door de grote hoeveelheid data we caching
                            moeten gaan toepassen en verder moeten optimaliseren. De bedoeling is om de
                            kaart zo actueel mogelijk weer te geven. Tot dit opgelost is zal het iets langer
                            duren voordat de kaart geladen is.
                        </small>
                    </p>
                    <p>
                        <small>
                            <b>8 april 2016</b>:
                            Het aantal domeinen met een onvoldoende is gezakt naar 2%,
                            was ooit 8%. Er zijn zojuist 1200 domeinen toegevoegd. Er is een team aan het
                            ontstaan dat de faalkaart verder gaat uitbreiden en onderhouden. Vele handen
                            maken licht werk. Dank aan gemeenten voor het insturen van subdomeinen. Dit is
                            altijd welkom!
                        </small>
                    </p>
                    <p>
                        <small>
                            <b>25 maart 2016</b>:
                            De kaart wordt automatisch ververst. Onder de uitleg staat
                            een overzicht met domeinen die onvoldoende scoren.
                        </small>
                    </p>
                    <p>
                        <small>
                            <b>18 maart 2016</b>:
                            De kaart wordt zeer binnenkort automatisch bijgewerkt.
                            Nieuw zijn statistieken met historie. De domeinenlijst is verbeterd en er is
                            tekst toegevoegd over de totstandkoming van het cijfer. Binnenkort ook open
                            source.
                        </small>
                    </p>
                    <p>
                        <small>
                            <b>16 maart 2016</b>:
                            De eerste serie van 1800 domeinen is geladen, dit wordt nog aangevuld en zal
                            binnenkort opnieuw worden gecontroleerd. De testdatum is nu zichtbaar. De eerste
                            verbeteringen schijnen een half uur na presentatie al te zijn doorgevoerd.
                            Dat is stoer!
                        </small>
                    </p>
                </div>

                <div class="col-md-6" id="topfail">
                    <div class="page-header">
                        <a name="topfail"></a>
                        <h1>{% trans "Top Fail" %}</h1>
                    </div>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>{% trans "Rank" %}</th>
                            <th>{% trans "Organization" %}</th>
                            <th>{% trans "Points" %}</th>
                            <th>{% trans "Tweet" %}</th>
                        </tr>
                        </thead><tbody>
                        {% verbatim %}
                        <tr v-for='rank in top.ranking'>
                            <td>{{ rank.Rank }}</td>
                            <td><a v-on:click="showReport(rank.OrganizationID)">{{ rank.OrganizationName }}</a></td>
                            <td>{{ rank.Points }}</td>
                            <!-- https://dev.twitter.com/web/tweet-button/parameters -->
                            <td><a v-if="rank.OrganizationTwitter" :href="'https://twitter.com/intent/tweet?screen_name=' + rank.OrganizationTwitter + '&text=' + rank.OrganizationTwitter + ' gefeliciteerd! ' + rank.OrganizationName + ' staat positie ' + rank.Rank + ' op Faalkaart! 🥀&hashtags=' + rank.OrganizationName + ',faal,failmap'">Tweet! 📣</a></td>
                        </tr>
                        {% endverbatim %}
                        </tbody>
                    </table>
                    <div>
                        <p v-if="top.metadata">{% trans "Updated on" %} {% verbatim %}{{ top.metadata.data_from_time }}{% endverbatim %}</p>
                    </div>
                </div>
            </div>

            <div class="page-header">
                <a name="footer" class="jumptonav"></a>
                <h1>{% trans "Support Fail Map" %}</h1>
                 <p>Failmap is open software by the <a href="https://internetcleanup.foundation" target="_blank">Internet Cleanup Foundation</a>.
                        Support our mission to clean up the internet of dangerous failures: it helps protect your data and privacy as well.</p>
                <p>{% trans "Your donations are welcome in time, support, money or in any other way." %}</p>
            </div>
        </div>
    </body>
</html>
<!--
This page was generated with MSPAINT.EXE on {{ timestamp }} in {{ rendertime }} seconds.
-->