{% load static %} {% load i18n %}
            <div class="row">
                <div class="col-md-4">
                    <h2>{% trans "Voor burgers" %}</h2>
                    <p>Op een eenvoudige manier zien of beveiliging op orde is.
                        Dat moet iedereen onafhankelijk kunnen, zonder kennis van techniek. Faalkaart is een middel dat dit mogelijk
                    maakt. Door beoordelingen meteen te publiceren is er altijd inzicht in de laatste stand
                        van zaken.</p>
                </div>
                <div class="col-md-4">
                    <h2>{% trans "Voor organisaties" %}</h2>
                    <p>Organisaties krijgen continu, onafhankelijk inzicht in outward
                    facing IT. Niet alleen scheelt het (publiek) geld, de verantwoordelijkheid voor
                    het beschermen van gevoelige informatie en systemen wordt hiermee verder tastbaar.
                    Faalkaart neemt zo veel mogelijk obscuriteit weg.</p>
                </div>
                <div class="col-md-4">
                    <h2>{% trans "Voor ontwikkelaars" %}</h2>
                    <p>Het faalkaart project zorgt ervoor dat informatie en systemen beter beveiligd
                    worden. Het project helpt informatiebeveiling op de kaart te zetten bij organisaties.
                        Faalkaart is volledig open source en hulp om het beter te maken is altijd welkom.</p>
                </div>
            </div>