{% extends 'pro/base.html' %}{% load humanize %}
{% block content %}
    <h1>Urls</h1>

    <table class="table table-sm table-striped table-bordered table-hover">
    <thead>
    </thead>
    <tbody>
    {% for list in lists %}
            <tr>
            <td colspan="3"><h2>{{ list.name }}</h2></td>
            </tr>

            {% if list.urls.all %}
            <tr>
                <th>Url</th>
                <th>Organization</th>
                <th>Links</th>
            </tr>
            {% endif %}

            {% for url in list.urls.all %}
            <tr>
                <td>{{ url.url }}</td>
                <td>{{ url.created_on }} </td>
                <td>{{ url.is_dead }}</td>
                </tr>
            {% endfor %}

    {% empty %}
        <tr><td colspan="6">No scans found.</td></tr>
    {% endfor %}
    </tbody>
    </table>

{% endblock %}
