<form method="GET" action="{% url "jet-dashboard:rebuild-ratings" %}">
    <p style="padding: 10px; ">
        Rebuilding ratings can take up 10 minutes or longer. Be patient.
    </p>
    <button type="submit" class="rainbow"
    style="font-size: 30px;
    height: 57px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    padding: 10px;
    color: fuchsia;
    background-color: #d0dbe6;
    width: calc(100% - 20px);
    border: 3px solid fuchsia; ">🌈 Rebuild Ratings 🦄</button>
</form>
