<script type="text/javascript">
  let api_url = '{% url "jet-dashboard:task-processing-status" %}';
</script>
{% verbatim %}
<div id="task_processing_status">
<a href="#" v-on:click="update" class="float-right reset-dashboard-link-icon icon-reset" style="padding:8px 10px;"></a>
<div v-if="loading" class="float-right"><ul><li>Loading</li></ul></div>
<div v-if="alerts.length">
  <ul>
    <li class="contrast">Alerts</li>
    <li v-for="alert in alerts">{{alert}}</li>
  </ul>
</div>
<ul>
  <li class="contrast">Workers</li>
  <li v-for="worker in workers">
    <p>{{ worker.name }}</p>
    <ul>
      <li>subscribed queues: <span v-for="queue in worker.queues">{{queue}} </span></li>
      <li>prefetched tasks: {{worker.tasks_reserved}}/{{worker.prefetch_count}}</li>
      <li>running tasks: {{worker.tasks_active}}/{{worker.concurrency}}</li>
      <li>total processed tasks: {{worker.tasks_processed}}</li>
    </ul>
  </li>
  <div v-if="!workers.length"><li>-</li></div>
</ul>
<ul>
  <li class="contrast">Queues</li>
  <li v-for="queue in queues">
    <p>{{ queue.name }}</p>
    <ul>
      <li>pending tasks: {{queue.tasks_pending}}</li>
    </ul>
  </li>
  <div v-if="!queues.length"><li>-</li></div>
</ul>
</div>
<script type="text/javascript">

  var vm = new Vue({
    el: '#task_processing_status',
    data: {
      "loading": false,
      "workers": [],
      "alerts": [],
      "queues": []
    },
    mounted () {
      // update from API
      this.update();
      // periodic poll update
      setInterval(function () {
        this.update();
      }.bind(this), 10000);
    },
    methods: {
      update (){
        this.loading = true;

        let self = this;
        jQuery.ajax({
          url: api_url,
          method: 'GET',
          success (data){
            self.loading = false;
            self.workers = data.workers;
            self.alerts = data.alerts;
            self.queues = data.queues;
          },
          error (error){
            console.error('failed to load task processing status', error);
            self.loading = false;
            self.error = true;
          },
        })
      }
    }
  });
</script>
{% endverbatim %}
