<script type="text/javascript">
  let api_url = '{% url "jet-dashboard:task-processing-status" %}';
</script>
{% verbatim %}
<div id="task_processing_status">
<a href="#" v-on:click="update" class="float-right reset-dashboard-link-icon icon-reset" style="padding:8px 10px;"></a>
<div v-if="loading" class="float-right"><ul><li>Loading</li></ul></div>
<div v-if="workers">
  <ul>
    <li class="contrast">Workers</li>
    <li v-for="worker in workers" v-if="workers.length">
      <p>{{ worker.name }}</p>
      <ul>
        <li>total processed tasks {{worker.tasks_processed}}</li>
        <li>currently processing {{worker.tasks_active}}</li>
      </ul>
    </li>
    <li v-if="!workers.length">No active workers!</li>
  </ul>
</div>
</div>
<script type="text/javascript">

  var vm = new Vue({
    el: '#task_processing_status',
    data: {
      "loading": true,
      "workers": null,
    },
    mounted () { this.update();},
    methods: {
      update (){
        this.loading = true;

        let self = this;
        jQuery.ajax({
          url: api_url,
          method: 'GET',
          success (data){
            self.loading = false;
            self.workers = data.workers;
          },
          error (error){
            console.error('failed to load task processing status', error);
            self.loading = false;
            self.error = true;
          },
        })
      }
    }
  });
</script>
{% endverbatim %}
