{% extends 'pro/base.html' %}{% load humanize %}{% load i18n %}
{% block content %}
    <h1 id="Issues">Issues</h1>
    <div id="explain_view"></div>


    <div id="issue_view"></div>

    <style>
    .issue_title{
        height: 5em; padding-top: 1em; padding-bottom: 1em; font-weight: bolder; font-size: 1.4em; text-align: center
    }

    .issue_table {
        box-shadow: 0px 13px 82px -47px rgba(0,0,0,0.75); border-radius: 10px;
    }

    </style>

{% verbatim %}
<script type="x-template" id="issue_list">
<div>
    <div class="loading" v-if="loading"><svg class="svg_icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M304 48c0 26.51-21.49 48-48 48s-48-21.49-48-48 21.49-48 48-48 48 21.49 48 48zm-48 368c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.49-48-48-48zm208-208c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.49-48-48-48zM96 256c0-26.51-21.49-48-48-48S0 229.49 0 256s21.49 48 48 48 48-21.49 48-48zm12.922 99.078c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48c0-26.509-21.491-48-48-48zm294.156 0c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48c0-26.509-21.49-48-48-48zM108.922 60.922c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.491-48-48-48z"></path></svg></div>

    <div v-if="!loading">
        <input class="search_input" type="text" v-model="query" placeholder="🔍 Search for an issue" v-on:change="find">
        <label><input type="checkbox" v-model="show_high" v-on:change="find">High</label>
        <label><input type="checkbox" v-model="show_medium" v-on:change="find">Medium</label>
        <label><input type="checkbox" v-model="show_low" v-on:change="find">Low</label>
        <label>Is Explained: <select v-model="is_explained"><option selected>---</option><option>Yes</option><option>No</option></select></label>
        <label>Is Rescanned: <select v-model="is_rescanned"><option selected>---</option><option>Yes</option><option>No</option></select></label>
    </div>

        <div class="row">

        <!-- todo: how to add headers that are not extremely slow etc? Problem is reactivity on the variables. -->
        <!-- <h2 v-if="header_changed(issue.domain)" :id="issue.domain">{{ issue.domain }}</h2> -->
        <!-- <h3 v-if="sub_header_changed(issue.domain_and_impact)" :id="issue.domain_and_impact">{{ issue.impact }}</h3> -->

        <div class="col-md-4" style="margin-bottom: 30px;" v-for="issue in relevant_issues">
            <table class="table table-sm table-striped table-bordered table-hover rounded-top issue_table">
                <tbody :style="'background-color:'+issue.color">
                    <tr>
                        <td colspan="2" class="issue_title">
                            <h4 :id="slugify(issue.url)+slugify(issue.service)">{{ issue.url }}</h4>
                            <span v-if="issue.url != issue.service"><br>{{ issue.service }}</span></td>
                    </tr>

                    <tr><td>Scan</td><td style="height: 4em;">{{ issue.header }}</td></tr>
                    <tr><td>Details</td><td style="height: 5em;">{{ issue.explanation }}</td></tr>
                    <tr><td>Impact</td><td>{{ issue.impact }}</td></tr>
                    <tr><td>When</td><td><span :title="issue.last_scan_moment_python">{{ issue.last_scan_humanized }}</span></td></tr>
                        <tr><td colspan="2">
                        <!-- Rescanning not yet supported:
                        <button v-if='issue.being_rescanned' type="button" id="issue.unique_id"
                            class="btn btn-secondary btn-block" disabled data-toggle="modal" data-target="#rescanModal">
                            [spinner] Rescanning</button>
                            <button v-if='!issue.being_rescanned' type="button" id="issue.unique_id"
                                class="btn btn-primary btn-block" data-toggle="modal" data-target="#rescanModal"
                            :data-cost="issue.rescan_cost"
                            :data-scan-id="issue.id"
                            :data-scan-type="issue.type"
                            :data-scan-label="issue.url +' '+issue.service">Rescan now</button> -->
                        <button v-if="!issue.is_explained" type="button" class="btn btn-info btn-block" @click="start_explaining(issue.id, issue.type)">Explain</button>
                        <button v-if="issue.is_explained" type="button" class="btn btn-info btn-block" @click="start_explaining(issue.id, issue.type)">Edit / Remove explanation</button>
                        <!-- Error reporting not yet supported: <button type="button" id="issue.unique_id"
                                class="btn btn-warning btn-block" data-toggle="modal" data-target="#rescanModal"
                            :data-cost="issue.rescan_cost"
                            :data-scan-id="issue.id"
                            :data-scan-type="issue.type"
                            :data-scan-label="issue.url + ' ' +issue.service">Report error with scan</button> -->
                        </td></tr>
                </tbody>
            </table>
        </div>
    </div>
    <div style="width: 100%; font-size: 2em; text-align: center" v-if="!loading && !relevant_issues.length">No issues found!</div>
</div>
</script>
{% endverbatim %}

    <script>
    function rescan(button, scan_type, scan_id) {
        fetch(`/pro/rescan_request/${scan_type}/${scan_id}/`)
            .then(response => response.json()).then(data => {
                console.log(data);
                if (!data.error) {
                    console.log(`${scan_type}${scan_id}`);
                    document.getElementById(`${scan_type}${scan_id}`).setAttribute('disabled', true);
                    spendCredits(data.cost)
                }
        }).catch((fail) => {console.log('An error occurred: ' + fail)});
    }
    </script>

    <div class="modal fade" id="rescanModal" tabindex="-1" role="dialog" aria-labelledby="rescanModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Confirm Rescan</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              You are requesting a rescan of <span class="scan_label">%s</span> for <i class="fas fa-coins"></i> <span class="rescan-cost">0</span>.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="button" id="very-ok-button" class="btn btn-primary" data-scan_type="0"
                    data-scan_id="0" onclick="rescan(this, this.dataset.scan_type, this.dataset.scan_id); " data-dismiss="modal">
                <i class="fas fa-coins"></i> <span class="rescan-cost">0</span></button>
          </div>
        </div>
      </div>
    </div>

    <script>
    $('#rescanModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget); // Button that triggered the modal
        var cost = button.data('cost'); // Extract info from data-* attributes
        var scan_id = button.data('scan-id');
        var scan_type = button.data('scan-type');
        var scan_label = button.data('scan-label');
        // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
        // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
        var modal = $(this);
        modal.find('.scan_label').text(scan_label);
        modal.find('.rescan-cost').text(cost);
        modal.find('.scan_id').text(scan_id);
        document.getElementById('very-ok-button').dataset.scan_type = scan_type;
        document.getElementById('very-ok-button').dataset.scan_id = scan_id;
    })
    </script>
<script>

vueIssues = new Vue({
    name: 'issues',
    el: '#issue_view',
    template: '#issue_list',
    mounted: function () {
        this.load();
        this.$nextTick(function () {

            // tocbot.refresh();
            // Code that will run only after the
            // entire view has been rendered
          });
    },
    data: {
        // database to search through
        all_issues: [],

        // search results, or all if no search
        relevant_issues: [],
        query: "",
        show_high: false,
        show_medium: false,
        show_low: false,
        is_explained: false,
        is_rescanned: false,

        loading: true,

        header_value: "",
        sub_header_value: "",

    },
    methods:{
        find: function(){
            let query = this.query.toLowerCase();

            let impact = [];
            if (this.show_high)
                impact.push("high");
            if (this.show_medium)
                impact.push("medium");
            if (this.show_low)
                impact.push("low");
            if (!this.show_high && !this.show_medium && !this.show_low)
                impact=["high", "medium", "low"];

            this.relevant_issues=[];
            for(let i=0; i < this.all_issues.length; i++){
                if (this.all_issues[i].url.includes(query) && (impact.indexOf(this.all_issues[i].impact) > -1)) {
                    this.relevant_issues.push(this.all_issues[i]);
                }
            }
            return "true";
        },
        load: function(){
            this.loading = true;
            fetch(`/pro/data/issues/`).then(response => response.json()).then(data => {
                this.all_issues = data['issues'];
                this.relevant_issues = data['issues'];
                this.loading = false;
                // tocbot.refresh();
            }).catch((fail) => {
                console.log('A loading error occurred: ' + fail);
            });
        },
        slugify: function(text){
            // https://github.com/KABBOUCHI/vue-slugify/blob/master/vue-slugify.js
            return text.toString().toLowerCase()
                .replace(/\s+/g, '-') // Replace spaces with -
                .replace(/&/g, '-and-') // Replace & with 'and'
                .replace(/[^\w\-]+/g, '') // Remove all non-word chars
                .replace(/--+/g, '-'); // Replace multiple - with single -
        },
        translate: function(text){
            // todo
            return text;
        },
        header_changed: function(value){
            if (this.header_value === value){
                return false;
            } else {
                this.header_value = value;
                return true;
            }
        },
        sub_header_changed: function(value){
            if (this.sub_header_value === value){
                return false;
            } else {
                this.sub_header_value = value;
                return true;
            }
        },

        start_explaining(scan_id, scan_type){
            vueExplain.start_explaining(scan_id, scan_type);
        }
    }
});
</script>


<!-- modal code taken from: https://vuejs.org/v2/examples/modal.html -->
{% verbatim %}
<script type="x-template" id="explain_item">
    <transition name="modal" v-if="showModal">
        <div class="modal-mask">
            <div class="modal-wrapper">
                <div class="modal-container">

                    <div class="modal-header">
                        <slot name="header">
                            <div v-if="result['error']">
                                <h3 v-if="result['error']">Something went wrong...</h3>
                            </div>
                            <div v-if="result['success']">
                                <h3 v-if="result['success']">Explanation saved!</h3>
                            </div>

                            <h3 v-if="!scan.comply_or_explain_is_explained && !result['message']">New explanation</h3>
                            <h3 v-if="scan.comply_or_explain_is_explained && !result['message']">Change explanation</h3>
                        </slot>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="stop_explaining()">
                                <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <slot name="body">
                            <p v-if="result['message']" v-html="result['message']"></p>
                            <p>Enter an explanation below:</p>
                            <p v-if="scan.comply_or_explain_explanation"></p>
                            <textarea v-model="explanation" placeholder="Enter explanation here..." v-html="scan.comply_or_explain_explanation"></textarea>

                            <div v-if="scan.comply_or_explain_is_explained">
                                <span>The explanation is valid until {{ scan.comply_or_explain_explanation_valid_until }}.</span>
                            </div>
                        </slot>
                    </div>


                    <div class="modal-footer">
                        <slot name="footer">

                            <button type="button" class="btn btn-secondary" @click="stop_explaining()">Close</button>

                            <div v-if="scan.comply_or_explain_is_explained">
                                <!-- Todo: <button type="button" class="btn btn-warning" @click="extend_explanation()">Extend validity with N days. ⭐{{ explain_costs }}</button> -->
                                <button type="button" class="btn btn-danger" @click="remove_explanation()">Remove</button>
                                <button class="btn btn-primary" @click="try_explain()"><i class="fas fa-coins"></i> Explain</button>
                            </div>

                            <!-- Only first explanation and extension have costs, alterations are free. -->
                            <div v-if="!scan.comply_or_explain_is_explained">
                            <button class="btn btn-primary" @click="try_explain()">Explain ⭐{{ explain_costs }}</button>
                            </div>
                        </slot>
                    </div>

                </div>
            </div>
        </div>
    </transition>
</script>
{% endverbatim %}

<script>

// 'explain component', is a dialog / form that has it's own logic which might be applied in multiple places
// not written as component as i'm a vue noob. Wouldn't be too hard to refactor without the appl becoming a js
// hipster hell with frameworks that are obsolete the next day.
// todo: show costs and cost button.
// todo: make sure costs are directly visible when clicking.
// todo: nicer layout of explantions
vueExplain = new Vue({
    name: 'explain',
    el: '#explain_view',
    template: '#explain_item',

    data: {
        scan_id: 0,
        scan_type: '',

        // current scan.
        scan: {},

        // explanation that is being tried.
        explanation: '',

        canned_explanations: [],

        // whatever result we get back.
        result: {},

        explain_costs: 0,

        // modal interaction
        showModal: false,
    },
    mounted: function () {
        this.get_canned_explanations();
        this.get_explain_costs();
    },
    methods: {
        start_explaining: function(scan_id, scan_type){
            this.stop_explaining();

            // make sure we start with a clean slate
            this.scan_id = scan_id;
            this.scan_type = scan_type;
            this.get_scan_data();
        },
        stop_explaining: function(){
            // reset everything.
            this.showModal = false;

            this.scan_id = 0;
            this.scan_type = '';
            this.explanation = '';
            this.scan = {};
            this.result = {};
        },


        get_canned_explanations(){
            fetch(`/pro/data/explain/get_canned_explanations/`).then(response => response.json()).then(data => {
                this.canned_explanations = data;
            }).catch((fail) => {console.log('A loading error occurred: ' + fail);});
        },
        get_scan_data(){
            /*
            {
                'id': scan.id,
                'rating': scan.rating,
                'explanation': scan.explanation,
                'evidence': scan.evidence,
                'last_scan_moment': scan.last_scan_moment.isoformat(),
                'rating_determined_on': scan.rating_determined_on.isoformat(),
                'is_the_latest_scan': scan.is_the_latest_scan,
                'comply_or_explain_is_explained': scan.comply_or_explain_is_explained,
                'comply_or_explain_explanation_valid_until': scan.comply_or_explain_explanation_valid_until.isoformat
                'comply_or_explain_explanation': scan.comply_or_explain_explanation,
                'comply_or_explain_explained_by': scan.comply_or_explain_explained_by,
                'comply_or_explain_explained_on': scan.comply_or_explain_explained_on.isoformat
                'comply_or_explain_case_handled_by': scan.comply_or_explain_case_handled_by,
                'comply_or_explain_case_additional_notes': scan.comply_or_explain_case_additional_notes,
                'impact': impact,
            }
            */

            fetch(`/pro/data/explain/get_scan_data/${this.scan_id}/${this.scan_type}/`).then(response => response.json()).then(data => {
                this.scan = data;
                this.showModal = true;
            }).catch((fail) => {console.log('A loading error occurred: ' + fail);});
        },
        try_explain(){
            // todo: post.
            fetch(`/pro/data/explain/try_explain/${this.scan_id}/${this.scan_type}/${this.explanation}/`).then(response => response.json()).then(data => {
                this.result = data;

                // refresh the view, new options might become available.
                this.get_scan_data();
            }).catch((fail) => {console.log('A loading error occurred: ' + fail);});
        },
        remove_explanation(){
            fetch(`/pro/data/explain/remove_explanation/${this.scan_id}/${this.scan_type}/`).then(response => response.json()).then(data => {
                this.result = data;
            }).catch((fail) => {console.log('A loading error occurred: ' + fail);});
        },
        extend_explanation(){
            fetch(`/pro/data/explain/extend_explanation/${this.scan_id}/${this.scan_type}/`).then(response => response.json()).then(data => {
                this.result = data;
            }).catch((fail) => {console.log('A loading error occurred: ' + fail);});
        },
        get_explain_costs(){
            fetch(`/pro/data/explain/get_explain_costs/`).then(response => response.json()).then(data => {
                this.explain_costs = data;
            }).catch((fail) => {console.log('A loading error occurred: ' + fail);});
        }
    }



});

</script>
{% endblock %}
