{% load crispy_forms_tags %}{% load static %}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Pro Login</title>
    <script type="text/javascript" src="{% static '/js/vendor/jquery-3.2.1.js' %}"></script>
    <script type="text/javascript" src="{% static '/js/vendor/bootstrap.js' %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static '/css/vendor/leaflet.css' %}"/>

    <link rel="stylesheet" type="text/css" href="{% static '/css/vendor/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/overrides.css' %}">

    {{ form.media }}
    </head>
<body style="background-color: #ccc;">

<div style="width: 600px; margin: auto; border: 1px solid #9ab090; border-radius: 10px; padding: 20px; background-color: #f8f8f8; border-top: 43px solid #3b3b3b;">
<h2 style="margin-bottom: 30px;">Pro Login</h2>
<form method="post">
  {% csrf_token %}
  {{ form | crispy }}
  <button type="submit" class="save btn btn-lg btn-primary">Login</button>
</form>
</div>

</body>
</html>
