{% load static %} {% load i18n %} {% load compress %} {% load countries %}
<div class="score high">
        <span class="score_value high_text">{% verbatim %}{{ high }}{% endverbatim %}</span><br/>
        <span class="score_label">{% trans "High" %}</span>
    </div>

    <div class="score medium">
        <span class="score_value medium_text">{% verbatim %}{{ medium }}{% endverbatim %}</span><br/>
        <span class="score_label">{% trans "Medium" %}</span>
    </div>

    <div class="score low">
        <span class="score_value low_text">{% verbatim %}{{ low }}{% endverbatim %}</span><br/>
        <span class="score_label">{% trans "Low" %}</span>
    </div>
    <br /><br /><br />
    <br style="clear: both">
    <br />

    <h4>{% trans "Risks and internet connectivity over time" %}</h4>
    <p></p>
    <br style="clear: both">

    <div class="chart-container" style="position: relative; height:555px; width:100%">
        <canvas id="organization_vulnerability_timeline"></canvas>
    </div>

    <br />
    <div class="chart-container" style="position: relative; height:555px; width:100%">
        <canvas id="organization_connectivity_timeline"></canvas>
    </div>

    <br style="clear: both">

    <h4>{% trans "Risk summary overview" %}</h4>
    <p></p>
    {% verbatim %}
    <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover table-sm">
        <thead>
        <tr>
            <th style="width:40%"></th>
            <th style="white-space: nowrap; vertical-align: bottom; height: 240px;" v-for="issue in issues">
                <div style="transform: translate(21px, -10px) rotate(315deg); width: 30px;">
                    <span v-html="translate(issue['name'])"></span>
                </div>
            </th>
        </thead>
        <tbody style="max-height: 240px; overflow-y: scroll">
        <template v-for="url in urls" >
            <tr v-html="total_summary_row(url)"></tr>
        </template>
        </tbody>
    </table>
    </div>
    {% endverbatim %}

    <br style="clear: both">

    <h4>{% trans "Full report" %}</h4>
    <p></p>
    {% verbatim %}
    <div v-for="url in urls" class="perurl"
         :style="'background: linear-gradient(' + colorizebg(url.high, url.medium, url.low) + ', rgba(255, 255, 255, 0.0));'">

        <div class="row">
            <div class="col-md-4">
                &nbsp;
            </div>
            <div class="col-md-8">
                <a :name="'report_url_'+url.url"></a>
                <span v-html="total_awarded_points(url.high, url.medium, url.low)"> </span>
                <span class="faildomain" :class="colorize(url.high, url.medium, url.low)" :data-tooltip-content="idizetag(url.url)">{{ url.url }}</span><br/>
                <a :href="'mailto:{% endverbatim %}{{ config.PROJECT_ISSUE_MAIL }}{% verbatim %}?subject={% endverbatim %}{% trans "Incorrect finding on mail subject" %}{% verbatim %}' + url.url + '&body={% endverbatim %}{% trans "Incorrect finding on mail body" %}{% verbatim %}'" class="btn btn-secondary btn-sm" style="margin-top: 11px;" role="button">
                    {% endverbatim %}{% trans "Report incorrect finding" %}</a>
            </div>
        </div>

        <!-- url reports -->
        <div v-if="url.ratings.length > 0" class="row">
            <div class="col-md-4">
                &nbsp;
            </div>
            <div class="col-md-8 giveroom_url">
                <h4>{% trans "Url level findings" %}</h4>
                {% verbatim %}
                <div v-for="rating in url.ratings">
                    <h5>&nbsp; {{ create_header(rating) }}</h5>
                    <div class="finding_block">
                        <span v-html="awarded_points(rating.high, rating.medium, rating.low)"></span> {{ translate(rating.explanation) }}<br/>
                        {% endverbatim %}{% trans "Since" %}{% verbatim %}: {{ humanize(rating.since) }}, {% endverbatim %}{% trans "Last check" %}{% verbatim %}: {{ humanize(rating.last_scan) }}
                        <div class="finding_references">
                                <span v-html="second_opinion_links(rating, url)"> </span>
                                {% endverbatim %}
                                {% if config.SHOW_COMPLY_OR_EXPLAIN %}
                                    <span class="explain_link" v-html="explain_link('{{ config.COMPLY_OR_EXPLAIN_EMAIL_ADDRESS }}', rating, url)"></span>
                                {% endif %}{% verbatim %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- endpoint reports -->
        <div v-for="endpoint in url.endpoints" class="row">
            <div class="col-md-4 giveroom photobar">
                <a :href="endpoint.protocol + '://' + url.url + ':' + endpoint.port"
                   target="_blank"
                   :title="'Visit ' + endpoint.protocol + '://' + url.url + ':' + endpoint.port">
                    <img src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs="
                         class="lazyload clippedimage" :data-src="'/static/images/screenshots/' + endpoint.ip_version + '_' + endpoint.protocol + idize(url.url) + endpoint.port + '_latest.png'"
                        :alt="'Latest screenshot of '+ endpoint.protocol + idize(url.url) + endpoint.port"
                    />
                </a>
            </div>
            <div class="col-md-8 giveroom">
                <h4>{% endverbatim %}{% trans "Service" %}: {% verbatim %}{{endpoint_type(endpoint) }}</h4>

                <div>
                    <div v-for="rating in endpoint.ratings">
                        <h5>&nbsp; {{ create_header(rating) }}</h5>
                        <div class="finding_block" v-if="rating.comply_or_explain_valid_at_time_of_report">
                            <span class="awarded_points_explained">{% endverbatim %}{% trans "Explained" %}{% verbatim %}</span> {{ rating.comply_or_explain_explanation }}<br />
                            {% endverbatim %}{% trans "Explained on" %}{% verbatim %}: {{ humanize(rating.comply_or_explain_explained_on) }}, {% endverbatim %}{% trans "explanation expires" %}{% verbatim %}: {{ humanize(rating.comply_or_explain_explanation_valid_until) }}<br>
                            <del style="font-size: 0.8em"><span v-html="awarded_points(rating.high, rating.medium, rating.low)"></span> {{ translate(rating.explanation) }}<br/>
                            {% endverbatim %}{% trans "Since" %}{% verbatim %}: {{ humanize(rating.since) }}, {% endverbatim %}{% trans "Last check" %}{% verbatim %}: {{ humanize(rating.last_scan) }}</del>
                            <div class="finding_references" v-html="second_opinion_links(rating, url)"> </div>
                        </div>
                        <div class="finding_block" v-else>
                            <span v-html="awarded_points(rating.high, rating.medium, rating.low)"></span> {{ translate(rating.explanation) }}<br/>
                            {% endverbatim %}{% trans "Since" %}{% verbatim %}: {{ humanize(rating.since) }}, {% endverbatim %}{% trans "Last check" %}{% verbatim %}: {{ humanize(rating.last_scan) }}

                            <div class="finding_references">
                                <span v-html="second_opinion_links(rating, url)"> </span>
                                {% endverbatim %}
                                {% if config.SHOW_COMPLY_OR_EXPLAIN %}
                                    <span class="explain_link" v-html="explain_link('{{ config.COMPLY_OR_EXPLAIN_EMAIL_ADDRESS }}', rating, url)"></span>
                                {% endif %}
                            </div>
                            {% verbatim %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endverbatim %}