            <div class="donate">
                <div class="page-header">
                    <a name="donate" class="jumptonav"></a>
                </div>
                <div class="row donate-title">
                    <h2>Bescherm jouw gegevens! Doneer nu!</h2>
                </div>
                <div class="row donate-content">
                    <div class="col-md-12">
                        <p>We houden organisaties scherp om ieders gegevens te beschermen. Vind je dit cool? Jouw donatie zorgt voor blijvende updates, onderhoud en nieuwe controles!</p>
                        <p>Stichting Internet Cleanup Foundation helpt fouten op het internet op te ruimen. <a href="https://internetCleanup.foundation" target="_blank">Lees meer...</a></p>
                        <p><b>Doneer gemakkelijk, veilig en snel door op een bedrag te klikken:</b></p>
                        <div class="donatebuttons">
                            <span class="Donate a5"><a href="https://useplink.com/payment/qaCyn8t6Tar7c5zVS6Fa/5" target="_blank">&euro; 5</a></span>
                            <span class="Donate a10"><a href="https://useplink.com/payment/qaCyn8t6Tar7c5zVS6Fa/10" target="_blank">&euro; 10</a></span>
                            <span class="Donate a20"><a href="https://useplink.com/payment/qaCyn8t6Tar7c5zVS6Fa/25" target="_blank">&euro; 20</a></span>
                            <span class="Donate a50"><a href="https://useplink.com/payment/qaCyn8t6Tar7c5zVS6Fa/50" target="_blank">&euro; 50</a></span>
                            <span class="Donate a100"><a href="https://useplink.com/payment/qaCyn8t6Tar7c5zVS6Fa/100" target="_blank">&euro; 100</a></span>
                            <span class="Donate a200"><a href="https://useplink.com/payment/qaCyn8t6Tar7c5zVS6Fa/200" target="_blank">&euro; 200</a></span>
                            <span class="Donate a500"><a href="https://useplink.com/payment/qaCyn8t6Tar7c5zVS6Fa/500" target="_blank">&euro; 500</a></span>
                            <span class="Donate aother"><a href="https://useplink.com/payment/qaCyn8t6Tar7c5zVS6Fa" target="_blank">Kies ander bedrag</a></span>
                        </div>
                    </div>
                </div>
            </div>