<!DOCTYPE html>{% load static %} {% load i18n %}
{# todo: de rest vertalen naar Brits als basistaal #}
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

        <title>{% trans "Site Title" %}</title>

        <link rel="shortcut icon" type="image/png" href="{%  static 'favicon.ico' %}"/>

        <link rel="stylesheet" type="text/css" href="{% static 'css/leaflet.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap_v3.3.6.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-theme_v3.3.6.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/overrides.css' %}">

        <script type="text/javascript" src="{% static 'js/jquery_v2.2.0.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/bootstrap_v3.3.6.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/leaflet.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/vue.js' %}"></script>
    </head>

    <body role="document">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target=".navbar-collapse">
                        <span class="sr-only">{% trans "Toggle navigation" %}</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">{% trans "Fail Map" %}</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="#map">{% trans "Map" %}</a></li>
                        <li><a href="#bar">{% trans "Bar" %}</a></li>
                        <li><a href="#numbers">{% trans "Numbers" %}</a></li>
                        <li><a href="#topfail">{% trans "Top Fail" %}</a></li>
                        <li><a href="#explanation">{% trans "Explanation" %}</a></li>
                        <li style="width: 715px">
                            <div id="historycontrol">
                                <small>{% trans "Data slider" %} - {% verbatim %}{{ visibleweek }}{% endverbatim %}</small><br />
                                <input id="history" type="range" value="0" min="0" max="80" step="1" style="direction: rtl"/>
                            </div>
                        </li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>

        <div class="container theme-showcase" role="main">

            <div class="jumbotron">
                <h1>{% trans "Fail Map" %}</h1>
                <p>{% trans "Fail Map Introduction" %}</p>
                <p>Stuur nieuwe subdomeinen in via twitter:
                    <a href="https://twitter.com/faalkaart">@faalkaart</a>
                    of mail <a href="mailto:info@faalkaart.nl?subject=subdomeinen">info@faalkaart.nl</a>
                </p>
                <p>
                    <small>Update 28 augustus 2017: Er wordt op een nieuwe manier beoordeeld. Per beveiligingsfout worden punten uitgedeeld.
                        Heeft een organisatie geen punten, dan hebben we geen fouten kunnen vinden: precies wat het doel is!
                        <br><br>
                        In deze update is de kaartsoftware bijgewerkt: er wordt nu gebruik gemaakt van open streetmaps, beter kaartmateriaal,
                        het django python framework, dynamische javascripts en betere caching. De site laadt niet alleen sneller,
                        hij is beter te onderhouden. Alle ontwikkeling van de faalkaart gebeurd inmiddels open source. Patches zijn welkom.
                        <br><br>
                        Al het werk levert ook wat nieuwe features op: deze site wordt automatisch ververst als je de site open laat staan, het is
                        mogelijk om door de tijd heen te scrollen en er is nu een top 50 van meest falende organisaties.
                        In plaats van afzonderlijke sites te kijken, wordt er nu per organisatie beoordeeld. Tenslotte hebben we alle sites
                        die niet meteen TLS spreken aangemerkt als een "gemiddelde" fout: in de vorige versie van de kaart werd hier nog
                        geen oordeel over gegeven. Het hebben van geen TLS is eigenlijk net zo erg als slechte TLS.
                    </small>
                </p>
            </div>

            <div class="page-header">
                <a name="map" class="jumptonav"></a>
                <h1>{% trans "The Map" %}</h1>
                <p>{% trans "The Map Introduction" %}</p>

                <div id='map'></div>
                <script type="text/javascript" src="{% static 'js/failmapstyling.js' %}?t={{ timestamp }}"></script>
            </div>

            <!-- todo: dynamic whitespace stays visible, even when the list is rendered elsewhere.
             patches are welcome! -->
            {% verbatim %}
            <div id="domainlistcontainer">
                <div id="domainlist" v-if="urls">
                    <h4>{% endverbatim %}{% trans "Domains" %}{% verbatim %} </h4>
                    <div v-for="url in urls">
                        <span v-bind:class="colorize(url.url.points)">
                            {{ url.url.url }}
                        </span>
                    </div>
                    <br />
                </div>
            </div>
            {% endverbatim %}

            <div id="statistics">
                <div class="page-header">
                    <a name="bar" class="jumptonav"></a>
                    <h1>{% trans "The Bar" %}</h1>
                </div>

                <div class="progress">
                    <div class="progress-bar progress-bar-info" :style="{width:unknownpercentage}">
                        <span class='sr-only'>We didn't scan them then...</span>
                    </div>
                    <div class="progress-bar progress-bar-success" :style="{width:greenpercentage}">
                        <span class="sr-only">Oh, wow!</span>
                    </div>
                    <div class="progress-bar progress-bar-warning" :style="{width:orangepercentage}">
                        <span class="sr-only">Pretty fair, but not really there.</span>
                    </div>
                    <div class="progress-bar progress-bar-danger" :style="{width:redpercentage}">
                        <span class='sr-only'>They have a lot to learn.</span>
                    </div>
                </div>

                <div class="page-header">
                    <a name="numbers" class="jumptonav"></a>
                    <h1>{% trans "The Numbers" %}</h1>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table">
                            <thead>
                            <tr>
                                <th width="20%">{% trans "When" %}</th>
                                <th width="20%">{% trans "Organizations" %}</th>
                                <th width="20%">{% trans "Good" %}</th>
                                <th width="20%">{% trans "Average" %}</th>
                                <th width="20%">{% trans "Bad" %}</th>
                            </tr>
                            </thead>
                            <tbody v-if="data.data">
                                {% verbatim %}
                                <tr v-for="(x, key) in data.data">
                                    <td>{{ key }}</td>
                                    <td>{{ x["total_organizations"] }}</td>
                                    <td>{{ x["green"] }} <small>({{ x["green percentage"] }}%)</small></td>
                                    <td>{{ x["orange"] }} <small>({{ x["orange percentage"] }}%)</small></td>
                                    <td>{{ x["red"] }} <small>({{ x["red percentage"] }}%)</small></td>
                                </tr>
                                {% endverbatim %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="page-header" id="report">
                <a name="report" class="jumptonav"></a>
                <div v-if="name">
                    <h1>{% verbatim %}{{ name }}{% endverbatim %}</h1>
                    <div>
                        {% trans "Data from" %}: {% verbatim %}{{ humanize(when) }}{% endverbatim %}<br />
                        {% trans "Points" %}: {% verbatim %}{{ points }}{% endverbatim %}, {% trans "congratulations" %}!<br />
                        <br />
                        {% verbatim %}
                        <div v-for="url in urls" class="perurl" v-bind:style="'background-color: ' + colorizebg(url.url.points)">
                            <div class="screenshotlist">
                                <div v-for="(endpoint, key) in url.url.endpoints">
                                    <div v-for="(myendpoint, mykey) in endpoint">
                                        <!-- There is no support for different ip's/ipv6 in endpoint, only for protocols. -->
                                        <a v-bind:href="myendpoint.protocol + '://' + url.url.url + ':' + myendpoint.port" target="_blank"
                                        v-bind:title="'Visit ' + myendpoint.protocol + '://' + url.url.url + ':' + myendpoint.port">
                                            <div class="imagediv" v-bind:style="'background-image: url(\'/static/images/screenshots/'+ myendpoint.protocol + idize(url.url.url) + myendpoint.port + '_latest.png\');'"></div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="reportlist">
                                <span class="faildomain" v-bind:class="colorize(url.url.points)" v-bind:data-tooltip-content="idizetag(url.url.url)" >
                                            {{ url.url.url }}</span>
                                <div v-for="(endpoint, key) in url.url.endpoints">
                                    <div v-for="(myendpoint, mykey) in endpoint">
                                        &nbsp; {% endverbatim %}{% trans "Address" %}{% verbatim %}: {{ myendpoint.ip }}:{{ myendpoint.port }}
                                        <div v-for="(rating, key) in myendpoint.ratings">
                                            <div v-for="(myrating, myratingkey) in rating">
                                                &nbsp; &nbsp; {% endverbatim %}{% trans "Score" %}{% verbatim %}: {{ myrating.points }} {% endverbatim %}{% trans "points" %}{% verbatim %}<br />
                                                &nbsp; &nbsp; {% endverbatim %}{% trans "since" %}{% verbatim %}: {{ humanize(myrating.since) }} <br />
                                                &nbsp; &nbsp; {% endverbatim %}{% trans "Last scan" %}{% verbatim %}: {{ humanize(myrating.last_scan) }} <br />
                                                &nbsp; &nbsp; {% endverbatim %}{% trans "Explanation" %}{% verbatim %}: {{ myrating.explanation }}<br />
                                                <br />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <a :href="'https://www.ssllabs.com/ssltest/analyze.html?d=' + url.url.url + '&hideResults=on&latest'" target="_blank">Second Opinion</a>
                            </div>
                        </div>
                        {% endverbatim %}
                    </div>
                </div>
            </div>

            <br style="clear: both">

            <div class="row">
                <div class="col-md-6">
                    <div class="page-header">
                        <a name="explanation" class="jumptonav"></a>
                        <h1>{% trans "About Failmap" %}</h1>
                    </div>

                    <h2>Waarom Faalkaart?</h2>
                    <p>
                        Antwoord: Het is boeiend om te zien wat de status is van veiligheid van
                        dataverbindingen van publieke diensten, daar wordt namelijk vaak gevoelige
                        informatie verwerkt. De kaart heet Faalkaart omdat initieel werd aangenomen dat er
                        nog veel te verbeteren viel en een tendentieuze naam eerder leidt tot actie dan een
                        schattige naam. Dat bleek terecht: hoewel er meer op orde was dan aangenomen
                        werden er in het eerste weekend toch meer dan 150 verbindingen extra versleuteld.<br />
                    </p>

                    <h2>Mijn gemeente/organisatie is rood, wat nu?</h2>
                    <p>
                        Antwoord: Helaas zit er een gat in de muur: de organisatie zal actie moeten ondernemen
                        om e.e.a. goed in te richten of een <a href="https://letsencrypt.org">nieuw
                        certificaat te installeren</a>. Er wordt uitgegaan van de zwakste schakel: ergens
                        een onvoldoende betekent een rode vlek op de kaart.
                    </p>

                    <h2>Mijn gemeente is groen, is alles goed?</h2>
                    <p>
                        Antwoord: De kans dat een subdomein mist, en juist daar een gat in de muur zit, is
                        aanwezig. Daarnaast wordt alleen gecontroleert op het laagste niveau van beveiliging:
                        dit is toonaangevend voor de rest van de beveiliging van een organisatie.
                    </p>

                    <h2>Hoe compleet is dit?</h2>
                    <p>
                        Antwoord: er zijn rond de 7000 domeinen van gemeenten gecontroleerd. Deze hebben ruim 20000
                        verbindingen naar het internet. Op faalkaart wordt alleen een eerste indruk getoond
                        van de veiligheid van de organisatie: er wordt dus alleen aan de oppervlakte, ofwel het
                        laaghangende fruit gekeken.<br />
                        Toch is er door vrijwilligers, automatische scanners en slimme truuks voor iedere organisatie
                        een lijst met domeinen verzameld, dit helpt om een beter zicht te krijgen op wat de
                        organisatie doet op het internet.<br />
                        Omdat er alleen aan de oppervlakte wordt gekeken kan de schijn worden gewerkt dat een
                        organisatie alles op orde heeft, terwijl dat in werkelijkheid niet zo is.<br />
                    </p>

                    <h2>Hoe komt de score tot stand?</h2>
                    <p>
                        Antwoord: Sinds eind 2017 wordt de score anders opgebouwd: er wordt gerekend in punten.
                        Aan ieder beveiligingsprobleem worden punten toegekend.
                        <br />
                        Zonder punten, of met weinig punten, wordt een organisatie groen weergegeven. Naarmate
                        het puntenaantal oploopt wordt de organisatie oranje of zelfs rood.<br />
                        De gedachte hierachter is dat organisaties die erg veel aan het internet hangen ook
                        meer risico nemen. Natuurlijk wordt er naar ernst van de situatie punten gegeven:
                        een ernstig probleem betekent dus ook dat de organisatie als rood wordt getoond.
                    </p>

                    <h2>Hoe komt de score tot stand?</h2>
                    <p>
                        Antwoord: Er wordt verbinding gemaakt op poort 443. Als er een verbinding is, en er
                        is een beveiligde verbinding bedoeld, dan wordt gecontroleerd hoe goed die
                        verbinding is. Als er een beveiligde verbinding is, dan wordt deze geacht als nodig.
                        Het is lastig om automatisch te bepalen of een domein wel of geen beveiligde
                        verbinding vereist: publieke informatie moet ook bereikbaar zijn voor mensen die
                        internetten via een aardappel.
                    </p>

                    <h2>Hoe moet SSL/TLS worden ingericht?</h2>
                    <p>
                        Antwoord: Er is een <a href="https://www.google.nl/search?q=secure+tls+configuration&oq=secure+tls+configuration">aantal goede handleidingen te vinden</a>.
                        Toonaangevend advies komt van het <a href="https://www.ncsc.nl/actueel/whitepapers/ict-beveiligingsrichtlijnen-voor-transport-layer-security-tls.html">Nationaal Cyber Security Centrum</a>.
                        Een variant toegespitst op gemeenten, die ook ingaat op DNSSEC, staat op de site van
                        <a href="https://www.ibdgemeenten.nl/3619-2/" target="_blank">IBD Gemeenten</a>.
                        Lijsten met goede instellingen zijn te vinden op <a href="https://cipherli.st">Cipher List</a>.
                    </p>

                    <h2>Sinds wanneer bestaat deze kaart?</h2>
                    <p>
                        Antwoord: De kaart is gepresenteerd door sprekers op de
                        "<a href="http://inhethoofdvandehacker.nl/" target="_blank">in het hoofd van de hacker</a>"
                        conferentie van 16 maart 2016. Een volledig programma van de conferentie is terug
                        te zien op de site van de conferentie.
                    </p>

                    <h2>Hoe is dit tot stand gekomen?</h2>
                    <p>Antwoord: Dit project is tot stand gekomen door:</p>
                    <ul>
                        <li>Idee, programmeer, hak en breekwerk door Elger Jonker</li>
                        <li>DNSSEC en nuttig ongevraagd advies: Eelko Neven</li>
                        <li>PR, ondersteuning: Twan van Someren</li>
                        <li>Server management en CI: Johan Bloemberg</li>
                        <li>Actuele lijst gemeenten: 200ok.nl</li>
                        <li>Beoordeling op veiligheid door Qualys SSL labs</li>
                        <li>Polygonen en kaartdata: Openstreetmaps.</li>
                        <li>Simpele DNS verkenning met DNS Recon</li>
                        <li>Styling: Twitter Bootstrap</li>
                        <li>Techniek: Django, Vue.</li>
                        <li>Financiële ondersteuning: SIDN Fonds.</li>
                    </ul>

                    <h2>Wat is de historie van Faalkaart?</h2>

                    <p>
                        <small><b>15 februari 2017</b>:
                            Inmiddels wordt er weer
                            <a href="https://github.com/failmap" target="_blank">volop gewerkt</a> aan
                            faalkaart. De kaart is bijgewerkt naar nieuwe, goed onderhoudbare, technieken.
                            Inmiddels is er een
                            <a href="https://internetcleanup.foundation" target="_blank">stichting opgericht</a>
                            om de ontwikkeling van de kaart te stimuleren. Binnenkort wordt er gewerkt aan
                            het beter scannen van e.e.a: er gaat meer en sneller gescand worden.
                        </small>
                    </p>
                    <p>
                        <small>
                            <b>7 augustus 2016</b>:
                            Faalkaart heeft de steun gekregen van het SIDN fonds, we zullen het komende jaar
                            de kaart uitbreiden en op veel meer controleren. We gaan de kaartrot oplossen en
                            zorgen dat het makkelijk wordt om zelf de kaart te kunnen draaien
                            (onafhankelijk). Ook is de chaching van de site ingevoerd, dus het voelt weer
                            snel(ler) aan.
                        </small>
                    </p>
                    <p>
                        <small>
                            <b>9 juni 2016</b>:
                            Door een nieuwe kwetsbaarheid zijn er 100+ domeinen in het rood beland, van 2%
                            naar 9% kwetsbaar dus. Het aantal matige domeinen blijft gelukkig afnemen. Hoe
                            lang zal het duren tot alles gepatched is? Wie patcht het laatst?
                        </small>
                    </p>
                    <p>
                        <small>
                            <b>Extra update</b>:
                            Faalkaart heeft een projectbijdrage gevraagd aan het SIDN
                            fonds om er voor te zorgen dat dit middel breder en makkelijker kan worden
                            ingezet. We gaan hierdoor vele honderdduizenden kwetsbaarheden aan de kaak te
                            stellen en blijven motiveren om ze te verhelpen. De techneuten, hackers en nerds
                            achter faalkaart staan te trappelen om het internet robuuster te maken. Half
                            Juni weten we meer. Spannend!
                        </small>
                    </p>
                    <p>
                        <small>
                            <b>Extra update 2</b>:
                            We zien dat door de grote hoeveelheid data we caching
                            moeten gaan toepassen en verder moeten optimaliseren. De bedoeling is om de
                            kaart zo actueel mogelijk weer te geven. Tot dit opgelost is zal het iets langer
                            duren voordat de kaart geladen is.
                        </small>
                    </p>
                    <p>
                        <small>
                            <b>8 april 2016</b>:
                            Het aantal domeinen met een onvoldoende is gezakt naar 2%,
                            was ooit 8%. Er zijn zojuist 1200 domeinen toegevoegd. Er is een team aan het
                            ontstaan dat de faalkaart verder gaat uitbreiden en onderhouden. Vele handen
                            maken licht werk. Dank aan gemeenten voor het insturen van subdomeinen. Dit is
                            altijd welkom!
                        </small>
                    </p>
                    <p>
                        <small>
                            <b>25 maart 2016</b>:
                            De kaart wordt automatisch ververst. Onder de uitleg staat
                            een overzicht met domeinen die onvoldoende scoren.
                        </small>
                    </p>
                    <p>
                        <small>
                            <b>18 maart 2016</b>:
                            De kaart wordt zeer binnenkort automatisch bijgewerkt.
                            Nieuw zijn statistieken met historie. De domeinenlijst is verbeterd en er is
                            tekst toegevoegd over de totstandkoming van het cijfer. Binnenkort ook open
                            source.
                        </small>
                    </p>
                    <p>
                        <small>
                            <b>16 maart 2016</b>:
                            De eerste serie van 1800 domeinen is geladen, dit wordt nog aangevuld en zal
                            binnenkort opnieuw worden gecontroleerd. De testdatum is nu zichtbaar. De eerste
                            verbeteringen schijnen een half uur na presentatie al te zijn doorgevoerd.
                            Dat is stoer!
                        </small>
                    </p>
                </div>

                <div class="col-md-6" id="topfail">
                    <div class="page-header">
                        <a name="topfail"  class="jumptonav"></a>
                        <h1>{% trans "Top Fail" %}</h1>
                    </div>
                    <div>
                        <p v-if="top.metadata">{% trans "This is the top fail from" %} {% verbatim %}{{ humanize(top.metadata.data_from_time) }}{% endverbatim %}</p>
                    </div>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>{% trans "Rank" %}</th>
                            <th>{% trans "Organization" %}</th>
                            <th>{% trans "Points" %}</th>
                            <th>{% trans "Tweet" %}</th>
                        </tr>
                        </thead><tbody>
                        {% verbatim %}
                        <tr v-for='rank in top.ranking'>
                            <td>{{ rank.Rank }}</td>
                            <td><a v-on:click="showReport(rank.OrganizationID)">{{ rank.OrganizationName }}</a></td>
                            <td>{{ rank.Points }}</td>
                            <!-- https://dev.twitter.com/web/tweet-button/parameters -->
                            <td><a v-if="rank.OrganizationTwitter" :href="'https://twitter.com/intent/tweet?screen_name=' + rank.OrganizationTwitter + '&text=' + rank.OrganizationTwitter + ' gefeliciteerd! ' + rank.OrganizationName + ' staat positie ' + rank.Rank + ' op Faalkaart! 🥀&hashtags=' + rank.OrganizationName + ',faal,failmap'">Tweet! 📣</a></td>
                        </tr>
                        {% endverbatim %}
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="page-header">
                <a name="footer" class="jumptonav"></a>
                    <p><a href="https://github.com/failmap/" target="_blank">
                          Fail map is open software</a> maintained by the
                        <a href="https://internetcleanup.foundation" target="_blank">
                            Internet Cleanup Foundation.</a>
                        Support them to make the internet safer for everyone: your privacy may
                        depend on it.</p>
            </div>
        </div>
    </body>
</html>
<!--
This page was generated with MSPAINT.EXE on {{ timestamp }} in {{ rendertime }} seconds.
-->