<!DOCTYPE html>{% load static %} {% load i18n %} {% load compress %}
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>{% trans "Site Title" %}</title>
        <link rel="shortcut icon" type="image/png" href="{%  static 'favicon.ico' %}"/>
        {% compress css %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/leaflet.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap_v3.3.6.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-theme_v3.3.6.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/overrides.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/leaflet.fullscreen.css' %}">
        {% endcompress %}
        {% compress js %}
        <script type="text/javascript" src="{% static 'js/jquery_v2.2.0.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/bootstrap_v3.3.6.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/leaflet.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/vue.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/Leaflet.fullscreen.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
        {% endcompress %}
    </head>

    <body role="document">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target=".navbar-collapse">
                        <span class="sr-only">{% trans "Toggle navigation" %}</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">{% trans "Fail Map" %}</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="#intro">{% trans "Introduction" %}</a></li>
                        <li><a href="#numbers">{% trans "Numbers" %}</a></li>
                        <li><a href="#bar">{% trans "Bar" %}</a></li>
                        <li><a href="#topfail">{% trans "Top Fail" %}</a></li>
                        <li><a href="#explanation">{% trans "Explanation" %}</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>

        <div id='map'></div>

        <div class="container theme-showcase" role="main">

            <div class="jumbotron">
                <a name="intro" class="jumptonav"></a>
                <h1>{% trans "Fail Map" %}</h1>
                <p>{% trans "Fail Map Introduction" %}</p>
                <p>Stuur nieuwe subdomeinen in via twitter:
                    <a href="https://twitter.com/faalkaart" target="_blank">@faalkaart</a>
                    of mail <a href="mailto:info@faalkaart.nl?subject=subdomeinen">info@faalkaart.nl</a>
                </p>
            </div>

            {% include "map/target_audience.html" %}

            {% include "map/donation_row.html" %}

            <div id="statistics">
                <div class="page-header">
                    <a name="bar" class="jumptonav"></a>
                    <h1>{% trans "The Bar" %}</h1>
                    <p>{% trans "The Bar Explained" %}</p>
                </div>

                <div class="progress">
                    <div class="progress-bar progress-bar-success" :style="{width:greenpercentage}">
                        <span class="sr-only">Oh, wow!</span>
                    </div>
                    <div class="progress-bar progress-bar-warning" :style="{width:orangepercentage}">
                        <span class="sr-only">Pretty fair, but not really there.</span>
                    </div>
                    <div class="progress-bar progress-bar-danger" :style="{width:redpercentage}">
                        <span class='sr-only'>They have a lot to learn.</span>
                    </div>
                    <div class="progress-bar progress-bar-basic" :style="{width:unknownpercentage}">
                        <span class='sr-only'>We didn't scan them then...</span>
                    </div>
                </div>

                <div class="page-header">
                    <a name="numbers" class="jumptonav"></a>
                    <h1>{% trans "The Numbers" %}</h1>
                    <p>{% trans "The Numbers Explained" %}</p>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h3>{% trans "Organizations" %}</h3>
                        <p>{% trans "Organizations Explained" %}</p>
                        <table class="table">
                            <thead>
                            <tr>
                                <th width="20%">{% trans "When" %}</th>
                                <th width="20%">{% trans "Number" %}</th>
                                <th width="20%">{% trans "Good" %}</th>
                                <th width="20%">{% trans "Average" %}</th>
                                <th width="20%">{% trans "Bad" %}</th>
                            </tr>
                            </thead>
                            <tbody v-if="data.data">
                                {% verbatim %}
                                <tr v-for="(x, key) in data.data">
                                    <td>{{ key }}</td>
                                    <td>{{ x["included_organizations"] }}</td>
                                    <td v-bind:style="'background: linear-gradient(0deg, #dff9d7 0%, #dff9d7 ' + x['green percentage'] + '%, white ' + x['green percentage'] + '%, white 100%);'">{{ x["green"] }} <small>({{ x["green percentage"] }}%)</small></td>
                                    <td v-bind:style="'background: linear-gradient(0deg, #ffefd3 0%, #ffefd3 ' + x['orange percentage'] + '%, white ' + x['orange percentage'] + '%, white 100%);'">{{ x["orange"] }} <small>({{ x["orange percentage"] }}%)</small></td>
                                    <td v-bind:style="'background: linear-gradient(0deg, #fbeaea 0%, #fbeaea ' + x['red percentage'] + '%, white ' + x['red percentage'] + '%, white 100%);'">{{ x["red"] }} <small>({{ x["red percentage"] }}%)</small></td>
                                </tr>
                                {% endverbatim %}
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-6">
                        <h3>{% trans "Internet addresses" %}</h3>
                        <p>{% trans "Internet addresses Explained" %}</p>
                        <table class="table">
                            <thead>
                            <tr>
                                <th width="20%">{% trans "When" %}</th>
                                <th width="20%">{% trans "Number" %}</th>
                                <th width="20%">{% trans "Good" %}</th>
                                <th width="20%">{% trans "Average" %}</th>
                                <th width="20%">{% trans "Bad" %}</th>
                            </tr>
                            </thead>
                            <tbody v-if="data.data">
                                {% verbatim %}
                                <tr v-for="(x, key) in data.data">
                                    <td>{{ key }}</td>
                                    <td>{{ x["total_urls"] }}</td>
                                    <td v-bind:style="'background: linear-gradient(0deg, #dff9d7 0%, #dff9d7 ' + x['green url percentage'] + '%, white ' + x['green url percentage'] + '%, white 100%);'">{{ x["green_urls"] }} <small>({{ x["green url percentage"] }}%)</small></td>
                                    <td v-bind:style="'background: linear-gradient(0deg, #ffefd3 0%, #ffefd3 ' + x['orange url percentage'] + '%, white ' + x['orange url percentage'] + '%, white 100%);'">{{ x["orange_urls"] }} <small>({{ x["orange url percentage"] }}%)</small></td>
                                    <td v-bind:style="'background: linear-gradient(0deg, #fbeaea 0%, #fbeaea ' + x['red url percentage'] + '%, white ' + x['red url percentage'] + '%, white 100%);'">{{ x["red_urls"] }} <small>({{ x["red url percentage"] }}%)</small></td>
                                </tr>
                                {% endverbatim %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            {% include "map/donation_row.html" %}

            <div class="page-header" id="report">
                <a name="report" class="jumptonav"></a>
                <div v-if="name">
                    <h1>{% verbatim %}{{ name }}{% endverbatim %}</h1>
                    <div>
                        {% trans "Data from" %}: {% verbatim %}{{ humanize(when) }}{% endverbatim %}<br />
                        {% trans "Points" %}: {% verbatim %}{{ points }}{% endverbatim %}, {% trans "congratulations" %}!<br />
                        <br />
                        {% verbatim %}
                        <div v-for="url in urls" class="perurl" v-bind:style="'background: linear-gradient(' + colorizebg(url.url.points) + ', white);'">
                            <div class="screenshotlist">
                                <div v-for="(endpoint, key) in url.url.endpoints">
                                    <div v-for="(myendpoint, mykey) in endpoint" class="servicelink">
                                        <!-- There is no support for different ip's/ipv6 in endpoint, only for protocols. -->
                                        <a v-bind:href="myendpoint.protocol + '://' + url.url.url + ':' + myendpoint.port" target="_blank"
                                        v-bind:title="'Visit ' + myendpoint.protocol + '://' + url.url.url + ':' + myendpoint.port">
                                            <div class="imagediv" v-bind:style="'background-image: url(\'/static/images/screenshots/'+ myendpoint.protocol + idize(url.url.url) + myendpoint.port + '_latest.png\');'"></div>
                                            <span v-html="'Bezoek adres van type: ' + myendpoint.protocol + '/' + myendpoint.port"> </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="reportlist">
                                <span v-html="total_awarded_points(url.url.points)"> </span>
                                <span class="faildomain" v-bind:class="colorize(url.url.points)" v-bind:data-tooltip-content="idizetag(url.url.url)" >
                                            {{ url.url.url }}</span><br />
                                <div v-for="(endpoint, key) in url.url.endpoints">
                                    <div v-for="(myendpoint, mykey) in endpoint"><br />
                                        &nbsp; {% endverbatim %}{% trans "Address" %}{% verbatim %}: {{ myendpoint.ip }}:{{ myendpoint.port }}
                                        <div v-for="(rating, key) in myendpoint.ratings">
                                            <h3>&nbsp; {{ create_header(rating) }}</h3>
                                            <div v-for="(myrating, myratingkey) in rating">
                                                &nbsp; &nbsp; <span v-html="awarded_points(myrating.points)"></span> {{ myrating.explanation }}<br />
                                                &nbsp; &nbsp; {% endverbatim %}{% trans "Since" %}{% verbatim %}: {{ humanize(myrating.since) }}, {% endverbatim %}{% trans "Last check" %}{% verbatim %}: {{ humanize(myrating.last_scan) }} <br />
                                                &nbsp; &nbsp; <span v-html="second_opinion_links(rating, url)"> </span>
                                                <br />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endverbatim %}
                    </div>
                </div>
            </div>

            <br style="clear: both">

            <div class="row">
                {% include "map/topfail.html" %}
                {% include "map/topwin.html" %}
            </div>

            <div class="row">
                {% include "map/terrible_urls.html" %}
                {% include "map/faq.html" %}
            </div>

            <div id="lastrow">
                <div class="row">
                    <a name="footer" class="jumptonav"></a>

                    <div class="col-md-2 logoandtext">
                        <div class="logo fail_logo">
                            <a href="https://internetcleanup.foundation" target="_blank">
                                <img src="{% static 'images/internet_cleanup_foundation_logo.png' %}"/>
                            </a>
                        </div>
                        <b><a href="https://internetcleanup.foundation" target="_blank">Internet Cleanup Foundation</a></b>
                        <p>Let's clean up the internet: our privacy depends on it.</p>
                    </div>
                    <div class="col-md-2 logoandtext">
                        <div class="logo sidn_logo">
                            <a href="https://www.sidnfonds.nl/" target="_blank">
                                <img src="{% static 'images/sidnfonds-logo.png' %}" />
                            </a>
                        </div>
                        <b><a href="https://www.sidnfonds.nl/" target="_blank">SIDN fonds</a></b>
                        <p>Invests in a resillient internet for everyone.</p>
                    </div>
                    <div class="col-md-2 logoandtext">
                        <div class="logo git_logo">
                            <a href="https://github.com/failmap/" target="_blank">
                                <img src="{% static 'images/github_logo.png' %}"/>
                            </a>
                        </div>
                        <b><a href="https://github.com/failmap/" target="_blank">Fail Map</a></b>
                        <p>Fail map is open software maintained by the Internet Cleanup Foundation.</p>
                    </div>
                    <div class="col-md-6">
                        <b>Bescherm je gegevens! Doneer nu!</b><br />
                        <p>We houden organisaties scherp om ieders gegevens te beschermen. Vind je dit cool? Jouw donatie zorgt voor blijvende updates, onderhoud en nieuwe controles!</p>
                        <p>
                            <b>Doneer gemakkelijk, veilig en snel door op een bedrag te klikken:</b>
                        </p>
                        <div class="donatebuttons">
                            <span class="Donate a5"><a href="https://useplink.com/payment/qaCyn8t6Tar7c5zVS6Fa/5" target="_blank">&euro; 5</a></span>
                            <span class="Donate a10"><a href="https://useplink.com/payment/qaCyn8t6Tar7c5zVS6Fa/10" target="_blank">&euro; 10</a></span>
                            <span class="Donate a20"><a href="https://useplink.com/payment/qaCyn8t6Tar7c5zVS6Fa/25" target="_blank">&euro; 20</a></span>
                            <span class="Donate a50"><a href="https://useplink.com/payment/qaCyn8t6Tar7c5zVS6Fa/50" target="_blank">&euro; 50</a></span>
                            <span class="Donate a100"><a href="https://useplink.com/payment/qaCyn8t6Tar7c5zVS6Fa/100" target="_blank">&euro; 100</a></span>
                            <span class="Donate a200"><a href="https://useplink.com/payment/qaCyn8t6Tar7c5zVS6Fa/200" target="_blank">&euro; 200</a></span>
                            <span class="Donate a500"><a href="https://useplink.com/payment/qaCyn8t6Tar7c5zVS6Fa/500" target="_blank">&euro; 500</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
<!--
This page was generated with MSPAINT.EXE on {{ timestamp }} in over 9000 seconds.
-->