{% load static %} {% load i18n %}
<div class="row">
    <div class="col-md-5">
        <h2>{% trans "Voor burgers" %}</h2>
        <p>Met faalkaart kan iedereen in een oogopslag zien hoe goed informatie wordt beveiligd.</p>
        <p>Faalkaart biedt een radicaal transparant en bijgewerkt overzicht van de kwaliteit waarop
            organisaties diensten verlenen op het internet.</p>
        <p>Faalkaart is vrije software. Dit geeft techneuten de kans om zelf faalkaart te installeren.</p>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-5">
        <h2>{% trans "Voor organisaties" %}</h2>
        <p>Faalkaart neemt zo veel mogelijk obscuriteit weg.</p>
        <p>Organisaties hebben vaak onvoldoende zicht op welke diensten ze aanbieden op het internet.
            Om allerlei redenen worden diensten vergeten en langzaam ontstaat een IT landschap met een toenemend
            aantal kwetsbaarheden.
        </p>
        <p>Faalkaart brengt zo veel mogelijk diensten die worden door organisaties in beeld en voert hierop
            een aantal beveiligingstests uit.</p>
        <p>Niet alleen zorgt Faalkaart dat publiek geld wordt bespaard, het maakt het beschermen van gevoelige
            informatie en systemen verder tastbaar.</p>
    </div>
    <div class="col-md-1"></div>
</div>