
<ul>
    <li>Edit this module to instantly add subdomains to organizations. See the top right pen-icon.</li>

    {% for url in module.children %}
        <li>
        {%  if url.error == 1 %}
            <span style="color: red;">{{ url.domain }}</span> - {{ url.message }}
        {% else %}
            <span style="color: green;">{{ url.domain }}</span> - {{ url.message }}
        {% endif %}
        </li>
    {% empty %}

    {% endfor %}
        <li></li>
        <li>
            After editing this module, you'll see the import results above...
        </li>
</ul>
